$primary: #181818;
$black: #000;
$gray: #606060;
$medium-gray: #606060;
$white: #fff;
$rem: (1 / 16) + 0rem;
$em10: (1 / 10) + 0em;
@import "bootstrap";
@import "fonts/icomoon";
@import "fonts/font";
@import "partials/text";
@import "partials/buttons";
@import "partials/form";
@import "layout/baron";
@import "layout/alert";
@import "layout/slick";
@import "layout/slick-theme";
@import "layout/modals";
@import "layout/header";
@import "layout/main";
@import "layout/wrapper";
@import "layout/footer";