// Color system
$primary: #c65201 !default;

// fonts
$font-family-main: 'Nunito' !default;
$font-family-folder: Nunito !default;
$font-weights: (
  Regular: 400,
  SemiBold: 600,
  Bold: 700
) !default;
/*ttf, otf*/
$font-format: ttf !default;


// HEADER
$header-light-bg: true !default;
$header-height: 94px !default;
$header-height-mobile: 71px !default;
$header-bg: #fff !default;
$box-shadow-header: none !default;
$border-header: 1px solid $primary !default;
$header-login-position: left !default;
$header-button-height: 50px !default;
$header-button-border-width: 1px !default;
$header-button-width: 136px !default;
$header-button-size: 14px !default;
$header-button-weight: 400 !default;
$header-button-radius: 25px !default;
$header-button-margin: 25px !default;
$header-button-hover: 0% !default;


$login-button-color: $primary !default;
$login-button-bg: transparent !default;
$login-button-border-color: $primary !default;
$login-button-border-style: solid !default;

$register-button-color: #fff !default;
$register-button-bg: $primary !default;
$register-button-border-color: $primary !default;
$register-button-border-style: solid !default;

$cart-header-bg: #d00 !default;