.footer {
  color: #fff;
  background: #fff;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -94px;
  min-height: 94px;
  font-size: 18px;
  line-height: normal;
  position: relative;
  z-index: 2;
  *:last-child {
    margin-bottom:0;
  }
}
.footer-top {
  padding: 66px 0 32px;
}
.footer-bottom {
  border-top: 1px solid #d4d4d4;
  padding: 32px 0 100px;
  text-align: center;
  font-size: 18px; 
}

.footer-social {
  padding: 0;
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.visa-img {
  float: right;
}
.logo-footer {
  display: block;
  img {
    margin: auto;
    height: auto;
    display: block;
  }
}
.footer-content {
  max-width: 760px;
  margin: 0 auto 30px;
}
.nav-footer {
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 17px;
    }
  } 
}
.visa-img {
  height: auto;
  display: block;
  max-width: 100%;
}
@media (max-width: 1200px) {
  .nav-footer ul li {
    margin: 0 2px 3px;
  }
   .footer-social li {
    margin-right: 8px;
   }
}
@media (max-width: 767px) {
  .footer-social li {
    margin-right: 4px;
  }
  .footer-social li:last-child {
    margin-right: 0;
  }
  .visa-img {
    padding-top: 2px;
  }
  .nav-footer {
    padding-bottom: 30px;
  }
  .logo-footer {
   padding-bottom: 30px; 
  }
  .footer-content {
    margin-bottom: 50px;
  }
  .footer-top {
    padding: 50px 0 35px;
  }
  .footer .container {
    padding: 0 30px;
  }
  .footer {
    .row {
      margin: 0 -5px;
      > * {
        padding: 0 5px;
      }
    }
  }
  .footer {
    font-size: 14px;
    background-size: auto 100%;
    background-position: 50% 50%;
  }
  .footer-bottom {
    font-size: 14px;
  }
}