.cart-empty p {
  .text-align(center);
}
.cart-empty img {
  .margin-top( 50px );
  width: 47px;
  .float( "inherit !important" );
}
.cart-empty h4 {
  font-weight: bold !important;
  text-align: center !important;
  color: #9d9d9d;
  font-size: 14px;
  .margin-bottom( 50px );
}
label.error {
  color: #b71920;
}
.cart-empty .cart-top {
  .margin1( 0 );
}
.cart-empty .cart-bottom {
  .margin1( 0 );
}
.cart-empty .cart-top {
  overflow: hidden !important;
}
.tooltip {
  position: fixed;
}
.info-tab {
  display: none;
}
.review-tab {
  display: none;
}
.info-box-head:after {
  content: " ";
  display: block;
  clear: both;
  width: 100%;
}
.info-box-head h2 {
  font-size: 14px;
  .margin1( 0px );
  line-height: 40px;
  .float( left );
  text-transform: uppercase;
}
.info-box-head i {
  width: 55px;
  height: 40px;
  .float( left );
}
.form-control-cart {
  .padding1(0);
  .margin3(0, 0, 15px);
  list-style: none;
  overflow: hidden;
  li {
    float: left;
    width: 33.33%;
    border-right: 1px solid #ddd;
  }
  label {
    font-size: 12px;
    color: #fff;
    display: block;
    width: 100%;
    .margin1(0);
    .padding1(0);
    line-height: 20px;
    .text-align(center);
    cursor: pointer;
    > div {
      .padding1(10px);
      background: #ccc;
    }
  }
  input {
    display: none;
    &:checked {
      + div {
        background: @main-color;
      }
    }
  }
  i {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .margin-right(5px);
    cursor: pointer;
  }
  .CASH {
    i {
      background-image: url(../../images/SVG/wallet.svg);
    width: 20px;
    height: 22px;
    }
  }
  .CARD {
    i {
      background-image: url(../../images/SVG/credit-card.svg);
      width: 22px;
      height: 22px;
    }
  }
  .PAYPAL {
    i {
      background-image: url(../../images/SVG/cc-paypal.svg);
      width: 26px;
      height: 22px;
    }
  }
}
.button-margin {
.margin-bottom(20px);
	width: auto !important;
	svg {
height: 14px;
width: 14px;
display: inline-block;
vertical-align: middle;
fill: #fff;
.margin-right(2px);
	}
}
.btn, .search-button, .register-button, .login-button {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn:after, .search-button:after, .register-button:after, .login-button:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0,0,0,0.08) 10%, transparent 10.01%) center no-repeat;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -ms-transform: translate(-50%, -50%) scale(15);
  -moz-transform: translate(-50%, -50%) scale(15);
  -webkit-transform: translate(-50%, -50%) scale(15);
  transform: translate(-50%, -50%) scale(15);
  .transition(0.6s);
}
.btn:active:after, .search-button:active:after, .register-button:active:after, .login-button:active:after {
  -ms-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  opacity: 1;
  .transition(0s);
}
.info-box-content {
  width: 100%;
  .float( left );
  .margin-bottom( 10px );
  display: table;
}
.delivery-zone {
  .margin-bottom( 60px );
  .row:hover {
    background: #f5f5f5;
  }
}
.mob-delivery-zone {
  .row {
    border-bottom: 1px solid #efefef;
    .padding-top( 15px );
    .padding-bottom( 15px );
  }
}
.delivery-zone-head {
  .margin-bottom( 5px );
}
.mob-delivery-head {
  color: #a4a4a4;
}
.delivery-zone-head span {
  .float( left );
  color: #a4a4a4;
  font-size: 13px;
  display: table-cell;
}
.collection-hours-icn {
  background: url('/static/@{folder-name}/images/sprite1.png');
  background-position: -153px -776px;
  background-repeat: no-repeat;
}
.dilivery-hours-icn {
  background: url('/static/@{folder-name}/images/sprite1.png');
  background-position: -104px -776px;
  background-repeat: no-repeat;
}
.payment-info-icn {
  background: url('/static/@{folder-name}/images/sprite1.png');
  background-position: -228px -776px;
  background-repeat: no-repeat;
}
.address-info-icn {
  background: url('/static/@{folder-name}/images/sprite1.png');
  background-position: -295px -777px;
  width: 30px !important;
  background-repeat: no-repeat;
}
.delivery-zone-icn {
  background: url('/static/@{folder-name}/images/sprite1.png');
  background-position: -348px -777px;
  width: 44px !important;
  background-repeat: no-repeat;
}
.login-btn-center {
  width: 90%;
  .margin2( 0px, auto);
}
.login-btn-center button {
  width: 100%;
}
.navbar.navbar-inverse {
  background-color: #f1f1f1 !important;
  border-color: #e5e5e5;
}
.navbar.navbar-inverse .container {
  .padding-left( 0px);
  .padding-right( 0px);
}
.container .margin-content-10 {
  .margin-left( 10px);
  .margin-right( 10px);
}
.custom-page-header {
  .margin3( 0, 0, 30px);
  border-bottom: 1px solid #eee;
  .padding-left( 0px);
  .padding-right( 0px);
}
.custom-page-header .section {
  .padding-bottom( 7px );
  .text-align(center);
}
.custom-page-header .section.active {
  border-bottom: 1px solid @main-color;
}
.cart-button, .cart-button:focus {
  background-color: white;
  background-image: url('/static/@{folder-name}/images/cart.png');
  background-repeat: no-repeat;
  color: @btn-primary-main;
  border: 1px solid @btn-primary-main;
  width: 74px;
  .padding2( 4px, 10px);
  line-height: 23px;
  font-size: 14px;
  .text-align(right);
  display: block;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  html[dir="rtl"] & {
    background-position: 85% 50%;
  }
  html:not([dir="rtl"]) & {
    background-position: 15% 50%;
  }
}
.cart-button:hover {
  color: white;
  background-color: @btn-primary-main - 20%;
  border-color: @btn-primary-main - 20%;
  background-image: url('/static/@{folder-name}/images/cart-white.png');
  background-repeat: no-repeat;
  html[dir="rtl"] & {
    background-position: 85% 50%;
  }
  html:not([dir="rtl"]) & {
    background-position: 15% 50%;
  }
}
.square-button,
.square-button:hover {
  background-color: transparent;
  color: black;
  font-weight: bold;
  .padding2( 0, 5px);
  width: 33px;
  line-height: 28px;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  text-decoration: none;
  z-index: 6;
  position: relative;
  color: transparent;
  overflow: hidden;
  text-indent: -1000px;
}
.square-button:hover {
  background-color: #ddd;
}
.square-button {
  border: 1px solid #545454;
  .margin-bottom(10px);
  html:not([dir="rtl"]) & {
    border-right: none;
    border-radius: 3px 0 0 3px;
  }
  html[dir="rtl"] & {
    border-left: none;
    border-radius: 0 3px 3px 0;
  }
  &:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 12px;
    margin: -6px 0 0 -1px;
    display: block;
    background: #ff5151;
    opacity: 0;
  }
  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    margin: -1px 0 0 -6px;
    display: block;
    background: #ff5151;
  }
}
.square-button ~ .square-button {
  html:not([dir="rtl"]) & {
    border-radius: 0 3px 3px 0;
    border-left: none;
    border-right: 1px solid #545454;
  }
  html[dir="rtl"] & {
    border-radius: 3px 0 0 3px;
    border-right: none;
    border-left: 1px solid #545454;
  }
  &:before {
    background: @main-color;
    opacity: 1;
  }
  &:after {
    background: @main-color;
  }
}
.btn.btn-white.item {
  height: 30px;
  vertical-align: top;
  line-height: 28px;
  .padding2( 0, 5px);
  font-size: 14px;
  font-weight: 700;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  border-left: none;
  border-right: none;
  background: transparent;
  color: #352142;
  .padding-left( 0 );
  .padding-right( 0 );
  border-radius: 0;
  width: 33px;
}
.circle-button {
  background-color: #ededed;
  color: black;
  font-weight: bold;
  border-radius: 15px;
  .margin-left( 5px );
  border: none;
  width: 20px;
  height: 20px;
  .padding-top( 0px );
}
.menu-set {
  width: 28px;
  height: 29px;
  display: inline-block;
  .float( "inherit !important" );
  .margin-bottom( -6px );
  .margin-top( 0px );
}
.custom-page-header .section {
  .padding-bottom( 7px );
  .text-align(center);
}
.menu-icn {
  background: url('/static/@{folder-name}/images/sprite1.png');
  background-position: -447px -204px;
  background-repeat: no-repeat;
}
.review-icn {
  background: url('/static/@{folder-name}/images/sprite1.png');
  background-position: -414px -206px;
  background-repeat: no-repeat;
  height: 29px;
  width: 29px;
}
.info-icn {
  background: url('/static/@{folder-name}/images/sprite1.png');
  background-position: -473px -202px;
  background-repeat: no-repeat;
}
.info-title {
  text-decoration: none;
  color: #989898;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.active .info-title {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.info-title:hover {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.info-title:hover .menu-icn,
.active .info-title .menu-icn {
  background-position: -447px -235px;
}
.info-title:hover .info-icn,
.active .info-title .info-icn {
  background-position: -473px -233px;
}
.info-title:hover .review-icn,
.active .info-title .review-icn {
  background-position: -414px -236px;
}
.nav-side-menu {
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  top: 0px;
  color: #9f9f9f;
  font-size: 16px;
}
.nav-side-menu .brand {
  background-color: #f1f1f1;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  display: block;
  .text-align(left);
  .padding2( 10px, 20px );
  color: #2b2b2b;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  line-height: 18px;
  cursor: pointer;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #8f8f8f;
  .padding2( 10px, 20px);
  display: block;
}
.nav-side-menu li.active a, .nav-side-menu a.click {
  font-weight: 700;
  color: @main-color !important;
  text-decoration: underline;
}
.nav-side-menu li a i {
  .padding-left( 20px);
  width: 20px;
  .padding-right( 10px);
}
.nav-side-menu li a:hover {
  color: @main-color;
}
.nav-side-menu .menu-content {
  .padding2( 5px, 0);
  overflow: auto;
  max-height: 450px;
}
#chat-icn-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.content-brand {
  .padding1( 10px );
  background-color: #f1f1f1;
  .margin-bottom( 10px );
  .padding-left( 20px );
  color: @main-color !important;
  font-weight: bolder;
}
.movable-div .panel-body {
  color: #9d9d9d;
  background-color: #f5f5f5;
  border-color: #2b2b2b;
  max-height: 600px;
  overflow: auto;
  .padding2( 15px, 15px );
}
.movable-div .cart-empty {
  background: #fff;
}
.movable-div .panel-body hr {
  border-color: #e8e8e8;
}
.panel-info {
  border: 2px solid #2b2b2b;
  border-radius: 3px;
}
[id^="zone-section-color-"] {
    height: 20px !important;
    width: 20px !important;
    .float(left);
    display: block;
    min-height: auto !important;
    border-radius: 50%;
    display: block !important;
    .margin-right(~'10px !important');
    .margin-bottom(2px);
    position: relative;
}
.panel-fullscreen {
  display: block;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  .right( 0 );
  .left( 0 );
  bottom: 0;
  overflow: auto;
  .panel-body {
    height: 94%;
  }
}
.panel .item {
  color: black;
  font-weight: bold;
  .margin1( 0px );
}
.panel .value {
  color: @main-color;
  font-weight: 700;
}
.panel .underline,
.panel .underline div {
  .margin1( 0px );
  .padding1( 0px );
}
.btn-white {
  background-color: white;
  .padding2( 3px, 6px );
  border-radius: 3px;
}
.fancy-collapse-panel .panel-heading a {
  .padding( 11px, 35px, 11px, 15px);
  display: inline-block;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  font-weight: bolder;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: @main-color;
  font-weight: 700;
  line-height: 18px;
  border-radius: 3px;
}
.fancy-collapse-panel .panel-heading a:after {
  content: " ";
  position: absolute;
  .right( 20px );
  top: 50%;
  line-height: 1;
  .margin-top( -10px );
  width: 20px;
  height: 20px;
  background-image: url('/static/@{folder-name}/images/up.png');
  background-repeat: no-repeat;
  background-position: 0 4px;
}
.fancy-collapse-panel .panel-heading a.collapsed {
  color: #343434;
}
.fancy-collapse-panel .panel-heading a.collapsed:after {
  content: " ";
  font-size: 20px;
  font-weight: 400;
  width: 20px;
  height: 20px;
  background-image: url('/static/@{folder-name}/images/down.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.fancy-collapse-panel .panel {
  .margin-bottom( 8px );
  border: 0px none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: white;
}
.openingtimetable td {
  width: 30%;
}
.hover-demo {
  .margin-top( 220px );
}
.hover-demo {
  .text-align(center);
}
.on-hover-content {
  position: absolute;
  bottom: -60px;
  .left( 85px );
  background-color: #f5f5f5;
  .padding1( 5px );
  border-radius: 10px;
  z-index: 999999;
}
.on-hover-content img {
  width: 290px !important;
  background-color: #FFF;
  .margin1( "0 !important" );
  -moz-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0px 2px rgba(255, 255, 255, 0.5);
}
#dynamic-content {
  width: 240px;
  overflow: scroll;
}
.cart-bottom {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  hr {
    .margin( 0, 0, 10px, 0);
  }
}
.discount {
  color: #d9230f !important;
  .margin-top( -14px );
  font-size: 13px;
  .padding-top( 10px );
}
/* MOBILE VIEW */
@media (min-width: 992px) {
  .nav-side-menu .menu-content {
    display: block;
  }
  .mobile-show {
    display: none;
  }
  .cart-top > .row > * {
    .margin-bottom( 5px );
    .margin-top( 0 );
  }
  .cart-top img {
    .float( right);
  }
  .cart-bottom {
    z-index: 0;
    .margin-bottom( 8px );
  }
}
@media (max-width: 767px) {
  .custom-page-header {
    .margin-bottom( 20px );
  }
  .menu-desc {
    min-height: 10px;
    .margin-bottom( 20px );
    .padding-left( 15px );
    .padding-right( 15px );
  }
  .cart-empty p {
    .padding-top( '40% !important' );
  }
  .fancy-collapse-panel #extras {
    .padding-bottom( 50px );
  }
  .nav-side-menu {
    position: relative;
    width: 100%;
    .margin-bottom( 10px );
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    .right( 10px );
    top: 10px;
    z-index: 10 !important;
    .padding1( 3px );
    background-color: #ffffff;
    color: #000;
    width: 40px;
    .text-align(center);
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    .padding-left( 20px );
    line-height: 50px !important;
  }
  #navbar {
    .padding-top( 15px );
  }
  .nav-btn {
    .padding1( 0px );
    .padding-top( 5px );
  }
  .navbar-inverse .navbar-toggle {
    border: 0px none;
  }
  .navbar-inverse .navbar-toggle:hover {
    border: 0px none;
    background-color: #f1f1f1;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #f1f1f1;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: black !important;
  }
  .navbar-inverse .navbar-toggle:hover .icon-bar,
  .navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: @main-color;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
  .panel {
    background-color: #fff;
    .margin-bottom( 0px );
  }
  .panel-heading {
    .padding1( 0px );
    border-bottom: 0px none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .fancy-collapse-panel .panel-default > .panel-heading {
    .padding1( 0 );
  }
  .footer-bottom1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    .left( 0 );
    z-index: 2;
  }
  .panel-fullscreen .row {
    .margin-top( 5px );
    .margin-bottom( 5px );
  }
  .panel-fullscreen .cart-top > .row > *:nth-child(2) {
    .text-align(center);
    font-size: 0;
  }
  .panel-fullscreen .cart-top > .row > *:nth-child(2) * {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
  }
  .panel-fullscreen .panel-heading {
    height: 30px;
    color: #fff;
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 0;
    font-size: 16px;
  }
  #closeCartModal {
    .padding-right( 5px );
  }
  .cart-top {
    overflow: scroll;
    overflow-x: hidden;
    height: auto;
    z-index: 0;
    background-color: #ffffff;
    position: absolute;
    top: 220px;
    bottom: 130px;
    width: 100%;
    .left( 0 );
    .padding2( 0, 15px );
  }
  .cart-top img {
    .padding-top( 3px );
  }
  .cart-top .value {
    .padding-top( 3px );
  }
  .cart-top .row {
    .margin-bottom( 15px );
  }
  .cart-bottom {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 124px;
    z-index: 0;
    .left( 0 );
  }
  .cart-bottom .row {
    .margin-bottom( 15px );
  }
  .cart-bottom {
    .padding-left( 15px );
    .padding-right( 15px );
    hr {
      .margin1( 0 );
    }
  }
Hungry Dodo
  .delivery-zone {
    .margin-bottom( 80px );
    font-size: 10px;
  }
  .footer-bottom1 {
    z-index: 3;
  }
  .fancy-collapse-panel {
    .margin-left( -15px );
    .margin-right( -15px );
  }
}
@media (max-width: 767px) {
  #navbar {
    .padding-top( 0px );
  }
  .delivery-zone {
    .row {
      .margin-left( -10px );
      .margin-right( -10px );
      > * {
        .padding-left( 10px );
        .padding-right( 10px );
      }
    }
  }
}
@media (max-width: 370px) {
  .panel-fullscreen .row .col-xs-4:last-child {
    .float( right );
  }
}
.tooltip-inner {
  max-width: 130px;
}
a {
  outline: none !important;
}
.mobcarttop {
  font-size: 15px;
}
.prodimage {
  height: 55px;
}
@media (max-width: 767px) {
  .mobcarttop {
    font-size: 12px;
  }
}
.addMenuItemModal-wrap {
  display: flex;
  img {
    height: auto;
    display: block;
    .margin1( auto );
    max-width: 100%;
  }
  label {
    font-size: 16px;
    text-transform: capitalize;
  }
  .submenu-form-box {
    @media(min-width: 992px) {
      max-height: 528px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .margin-bottom( 20px );
  }
}
.addMenuItemModal-left {
  background: #fff;
  .padding1( 15px );
  width: 48%;
}
.addMenuItemModal-right {
  background: #fafafa;
  overflow: hidden;
  .padding1( 15px );
  width: 52%;
}

#addMenuItemModal .modal-body {
  .padding1( 0 ); 
}
#addMenuItemModal .modal-body .alert {
  .margin1(15px);
}

#addMenuItemModal #productquantity {
  display: inline-block;
  vertical-align: middle;
  .margin-left( 15px );
  width: 90px;
}
.addMenuItemModal-right {
  label {
    display: block;
    border-bottom: 1px solid #d7d7d7;
    .padding-bottom( 8px );
    .margin-bottom( 8px );
  }
  ul.optiongroup {
    .padding1( 0 );
    .margin2( 0, -10px);
    list-style: none;
    font-size: 0;
    letter-spacing: 0;
    .text-align(left);
    &:after {
      content: " ";
      display: table;
      clear: both;
      width: 100%;
    }
    > li {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      .padding2( 0, 10px);
      width: 50%;
      .margin-bottom( 14px );
    }
  }
  textarea.form-control {
    height: 56px;
    background: #fafafa;
    border: 1px solid #d7d7d7;
    box-shadow: none;
    border-radius: 2px;
    width: 100% !important;
    &:focus {
      border-color: #000;
      box-shadow: 0 0 4px rgba(215, 215, 215, 0.3);
    }
  }
}
.optiongroup {
  input[type="checkbox"] {
    .margin-bottom(8px);
    .float(left);
    clear: both;
  }
  input[type="radio"] {
    .float(left);
  }
}
.optiongroup-left {
  float: left;
  list-style: none;
  width: 50%;
  .padding1(0);
  li {
    overflow: hidden;
  }
}
.optiongroup-right {
  float: left;
  list-style: none;
  width: 50%;
  .padding1(0);
  li {
    overflow: hidden;
  }
}
.nestedoptiongroup {
  .padding-left(20px);
  .optiongroupname {
    font-weight: 700;
    border-bottom: 1px solid #d7d7d7;
    text-transform: capitalize;
    .padding-bottom(5px);
    .margin-bottom(10px);
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cart-bottom .btn {
    font-size: 10px;
  }
}

@media (max-width: 991px) {
  .addMenuItemModal-wrap {
    display: block;
  }
  .addMenuItemModal-left {
    width: auto;
  }
  .addMenuItemModal-right {
    width: auto;
    background: transparent;
  }
}
@media (max-width: 500px) {
  .cart-top {
    & > .row {
      .margin-left( -5px );
      .margin-right( -5px );
      & > * {
        .padding-left( 5px );
        .padding-right( 5px );
      }
    }
  }
}

.total-restaurants {
    line-height: 22px;
    background-color: #f5f5f5;
    border: 1px solid #f1f1f1;
    .text-align(center);
    font-size: 22px;
    .padding2( 9px, 10px);
    font-weight: bold;
    .margin-bottom( 30px );
    border-radius: 3px;
}
.rest-search-wrap {
  .padding1( 15px);
}
.rest-search {
  position: relative;
}
.rest-search .search-icn {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 30px;
  background-color: #f68b2d;
  .right( 0);
  height: 39px;
  color: #fff;
  .padding-top( 11px );
  .padding-left( 8px);
  background-image: url(../images/search.svg);
  background-size: 15px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.fixed-movable-div {
  top: 92px !important;
  position: fixed !important;
}

#loadingDiv {
  img {
    .margin1( auto);
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.text-right-status {
  .margin-bottom( 0 );
  .text-align(right);
}
.svg-icn {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  .margin-right( 5px);
}

.store-close-text {
  color: #d9230f;
  text-transform: uppercase;
}
.store-open-text {
  color: #007229;
  text-transform: uppercase;
}
.promoted {
  .text-align(right);
}


@media (max-width: 991px) {
  .total-restaurants {
    .margin-left( -30px);
    .margin-right( -30px);
  }
  .filterRow-title {
    font-size: 16px;
    .text-align(center);
    font-weight: 700;
    .margin-bottom( 20px );
  }
  .filtercuisine {
    ul {
      .padding1( 0);
      list-style: none;
      .margin2( 0, -5px);
      font-size: 0;
      li {
        .padding2( 0, 5px);
        width: 33.333%;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
      }
    }
  }
  .radio-option-mob.click {
    color: @main-color;
    font-weight: 700;
  }
  .filterRow {
    .margin( 0, 0, 20px, 0);
    display: none;
  }
  .searchRow {
    .margin( 0, 0, 20px, 0); 
    display: none;
  }
  .buttons-filter {
    .margin-bottom( 20px );
  }
}
@media (max-width: 480px) {
  .svg-icn {
    height: 15px;
    width: 15px;
  }
  .store-open-text, .store-close-text {
    font-size: 10px;
  }
}
.left-top-cart-text {
  width: 85%;
  .float(left);
}
.right-top-cart-text {
  width: 15%;
  .float(right);
}