// Color system
$primary: #70b741 !default;

// fonts
$font-family-main: 'Roboto' !default;
$font-family-folder: Roboto !default;
$font-weights: (
  Regular: 400,
  Bold: 700
) !default;
/*ttf, otf*/
$font-format: ttf !default;


// HEADER
$header-light-bg: true !default;
$header-height: 71px !default;
$header-height-mobile: 71px !default;
$header-bg: #fff !default;
$header-login-position: left !default;
$header-button-height: 32px !default;
$header-button-border-width: 1px !default;
$header-button-width: 97px !default;
$header-button-size: 14px !default;
$header-button-weight: 400 !default;
$header-button-radius: 0px !default;
$header-button-margin: 20px !default;
$header-button-hover: 0% !default;
$header-transition: 0 !default;


$login-button-color: #545454 !default;
$login-button-bg: transparent !default;
$login-button-border-color: #545454 !default;
$login-button-border-style: solid !default;

$register-button-color: #fff !default;
$register-button-bg: linear-gradient(180deg,#b4ec51,#429321) !default;
$register-button-border-color: $primary !default;
$register-button-border-style: solid !default;

$cart-header-bg: #d00 !default;