@font-face {
    font-family: 'GOODBRUSH';
    src: url('../fonts/GOODBRUSH.eot');
    src: local('GOODBRUSH'), local('GOODBRUSH'),
        url('../fonts/GOODBRUSH.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GOODBRUSH.woff2') format('woff2'),
        url('../fonts/GOODBRUSH.woff') format('woff'),
        url('../fonts/GOODBRUSH.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Resolve-BlackWd';
    src: url('../fonts/Resolve-BlackWd.eot');
    src: local('Resolve-BlackWd'), local('Resolve-BlackWd'),
        url('../fonts/Resolve-BlackWd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Resolve-BlackWd.woff2') format('woff2'),
        url('../fonts/Resolve-BlackWd.woff') format('woff'),
        url('../fonts/Resolve-BlackWd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.eot');
    src: local('Roboto-Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto-Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto-Regular'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto-Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
