.authorization-login {
	font-size: 34px;
	font-weight: 400;
	margin-bottom: 22px;
}
.authorization-form-footer {
	margin-top: 20px;
	text-align: center;
	h4 {
		font-size: 17px;
		margin-bottom: 10px;
	}
	.btn {
		min-width: 150px;
	}
}
.forgotpassword-button {
	display: inline-block;
	margin-bottom: 8px;
	font-weight: 700;
}
#addressbookTable {
	input {
		margin: 0;
	}
}
.address-field-name-coordinates {
	word-break: break-all;
}