.shopping-cart {
	border: 2px solid #2b2b2b;
	background: #f5f5f5;
	border-radius: 3px;
	h6 {
		color: #fff;
		background-color: #2b2b2b;
		border-color: #2b2b2b;
		font-size: 16px;
		line-height: 23px;
		padding: 10px 15px;
		font-weight: 400;
		text-align: center;
		margin: 0;
		text-transform: uppercase;
	}
}
.shopping-cart-content {
	padding: 15px;
}

.shopping-cart-table {
	margin: 0;
	td {
		padding: 8px;
		border-color: #ddd;
	}
	tr:last-child {
		td {
			border-bottom: none;
		}
	}
	 .orderitem_qty {
	 	color: $primary;
	 	font-weight: 700;
	 	text-align: center;
	 }
	 .orderitem_price {
	 	color: $primary;
	 	font-weight: 700;
	 	text-align: right;
	 }
}
.shopping-cart-table-space {
	td {
		padding-top: 28px;
	}
}