.index-page {
	.search-form-section {
		width: 730px;
		margin: auto;
		padding: 90px 30px;
		max-width: 100%;
	}
	.search-payment-icns {
		width: 700px;
		top: 50%;
		margin: auto;
		text-align: left;
	}
	.search-section img {
		width: 100%;
	}
	.search-form-section h2 {
		color: #fff;
		text-transform: uppercase;
		font-size: 36px;
		text-align: center;
		margin: 0px;
	}
	.drop-down {
		width: 210px;
		height: 55px;
		padding-left: 10px;
		padding-right: 30px;
		color: #000;
		font-size: 20px;
		border: 1px solid #eee;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		background: #ffffff url(../images/dd-arrow.png);
		background-repeat: no-repeat;
		background-position: 96% 23px;
		-webkit-appearance: none;
		-xhtml-appearance: none;
		-ms-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		html[dir="rtl"] & {
			background-position: 4% 23px;
		}
	}
	.drop-down::-ms-expand {
	    display: none;
	}

	.search-button {
		text-align: center;
		background: $primary;
		width: 210px;
		height: 55px;
		color: #fff;
		font-size: 22px;
		text-transform: capitalize;
		border: 1px solid $primary;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		outline: none;
		-webkit-transition: all 0.2s ease-out 0s;
		-moz-transition: all 0.2s ease-out 0s;
		-o-transition: all 0.2s ease-out 0s;
		-ms-transition: all 0.2s ease-out 0s;
		transition: all 0.2s ease-out 0s;
		display: inline-block;
		vertical-align: top;
	}
	.search-button:hover {
		background: $primary - 20%;
		border: 1px solid $primary - 20%;
	}
	#citylist, .city-box, .listOfAreas {
		float: left;
		margin-right: 19px;
		position: relative;
	}
	div#listOfAreas {
		z-index: 10000;
		position: absolute;
		left: 0;
		width: 100%;
	}
	.city-area-list {
		text-align: left;
		list-style: none;
		margin-left: 0;
		overflow-y: scroll;
		max-height: 300px;
		min-width: 209px;
		background-color: #fff;
		padding: 10px;
		-webkit-padding-start: 10px;
	}
	.city-area-list li {
		cursor: pointer;
		padding: 5px;
	}
	.city-area-list li a:hover {
		color: $primary;
		text-decoration: none;
	}
	.ios-icn-mobile {
		text-align: right;
		margin-bottom: 5px;
	}
	.mobileapp-section-index {
		img {
			max-width: 100%;
			display: inline-block;
			margin: auto;
			height: auto;
			width: 200px;
		}
	}
	.text-box {
		display: inline-block;
		vertical-align: top;
		width: 316px;
		height: 55px;
		background-color: #fff !important;
		background-image: url(../images/location.png);
		background-repeat: no-repeat;
		border: 1px solid #c8c8c8;
		font-size: 12px;
		color: #646464;
		line-height: normal;
		padding: 17px 17px 17px 56px;
		border-radius: 0;
		margin-right: 14px;
		box-shadow: none;
		-webkit-appearance: none;
		-xhtml-appearance: none;
		-ms-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		html[dir="rtl"] & {
			background-position: 100% 50%;
		}
		html:not([dir="rtl"]) & {
			background-position: 0 50%;
		}
	}
	.text-box:focus {
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
		border-color: #000;
		background-color: #fff !important;
		outline: none;
	}
	.map-search-div {
		margin: auto;
		position: relative;
		max-width: 643px;
		.search-button {
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 0;
			height: 55px;
			width: 221px;
			font-size: 14px;
		}
	}
	.wrap-address-lists {
		.text-box {
			padding: 5px 231px 5px 61px;
			border-width: 2px;
			width: 100%;
			&:focus {
				border-color: $primary;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 992px) {
		.search-form-section {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	@media (max-width: 767px) {
		.map-search-div .search-button {
			position: relative;
			display: block;
			margin: 15px 0;
		}
		.search-form-section {
			padding-left: 0;
			padding-right: 0;
			padding-top: 30px;
			padding-bottom: 60px;
			width: 430px;
			max-width: 100%;
		}
		#citylist, .city-box, .listOfAreas {
			float: none;
			margin-right: 0;
			margin-bottom: 10px;
		}
		.search-button {
			width: 100%;
		}
		.drop-down {
			width: 100%;
		}
		.text-box {
			width: 100%;
			margin-bottom: 10px;
		}
		.wrap-address-lists .text-box {
			padding: 5px 15px 5px 45px;
		}

	}

	.drop-down-wrap-select .drop-down-select {
		position: absolute;
		top: 100%;
		left: -50px;
		right: -50px;
		background: #fff;
		padding: 15px;
		z-index: 20;
		border-radius: 4px;
		margin-top: 20px;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
		display: none;
	}
	.drop-down-wrap-select .drop-down {
		line-height: 52px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
	}
	.drop-down-wrap-select div#listOfAreas {
		position: static;
	}
	.drop-down-wrap-select input {
		width: 100%;
		margin-bottom: 5px;
	}
	@media (max-width: 767px) {
		.drop-down-wrap-select .drop-down-select {
			left: 0;
			right: 0;
		}
	}
}
.container-index {
	max-width: 1180px;
	padding: 0 20px;
	margin: auto;
	@media(min-width: 768px) {
		padding: 0 30px;
	}
}
.index-content {
	padding-bottom: 94px;
}








.menu-nav-wrap .menu-nav a {
	position: relative;
	&:after {
		content: "";
		display: block;
		background: $primary;
		position: absolute;
		top: 17px;
		left: 0;
		border-radius: 15px;
		right: 0;
		bottom: 14px;
		z-index: -1;
		opacity: 0;
	}
}
.menu-nav-wrap .menu-nav .active a, .menu-nav-wrap .menu-nav .click {
	color: #fff;
	border-color: transparent;
}
.menu-nav-wrap .active a:after {
	opacity: 1;
}
.menu-nav-wrap a {
	 padding: 20px 16px 16px;
}
.baron__track {
	z-index: 2;
}
.menu-nav-more {
	.more-icn {
	    display: inline-block;
	    background-image: url(../images/arrow-bottom-sprite.png);
	    background-repeat: no-repeat;
	    background-position: 50% 0;
	    width: 9px;
	    height: 6px;
	}
}
.scroll-text-active {
	&:after {
		content: "";
		display: block;
		background: $primary;
		position: absolute;
		border-radius: 15px;
		top: 17px;
		left: 0;
		right: 0;
		bottom: 14px;
		z-index: -1;
	}
	.more-icn {
		background-position: 50% -8px;
	}
}
.scroll-text {
	color: #fff;
}

.menu-nav-dropdown a:hover {
	color: #000;
}
.restaurant-info {
	margin-bottom: 60px;
}
.dropdown-select {
	top: -52px;
}




// changes menu
.section-menu-wrap {
	min-height: 100vh;
	margin-bottom: 60px;
}
.menu-nav-more {
	display: none !important;
}
.menu-nav {
	overflow: visible;
	padding: 0;
	white-space: nowrap;
	width: auto;
	position: relative;
	li {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
}
.menu-nav-wrap-main-js .menu-nav-wrap-main {
	padding-left: 0;
}
.menu-page {
	.menu-nav-wrap {
		padding: 0 0 0 0;
		margin: 0;
	}
}

.phone-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	> a {
		display: inline-block;
		vertical-align: middle;
		padding-left: 12px !important;
	    padding-right: 0 !important;
		color: $primary;
		text-decoration: none;
	}
}

.mobileapp-footer {
	img {
		width: 100%;
		display: block;
		margin: auto;
	}
}
.footer-bottom-menu {
	display: none;
}
.menu-page {
	.footer-bottom-menu {
		display: block;
		margin-bottom: 20px;
	}	
}
.mobileapp-footer {
	max-width: 300px;
	margin: 0 auto 30px;
	.row {
		margin-left: -5px !important;
		margin-right: -5px !important;
		> * {
			padding-left: 5px !important;
			padding-right: 5px !important;
		}
	}
}
.baron__scroller {
	position: relative;
}

@media(max-width: 1024px) {
	.menu-page {
		.menu-nav-wrap {
			padding: 0 0 0 0;
			margin: 0;
		}
	}
	.phone-menu .tel-menu-number {
		display: none; 
	}
	.phone-menu {
		display: none;
		font-size: 22px;
	}
}