.order-detail-from-to {
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-bottom: 30px;
	color: #ababab;
	h4 {
		border-bottom: 1px solid #ddd;
		font-size: 34px;
		padding-bottom: 20px;
		margin-bottom: 35px;
		color: #343434;
	}
	h5 {
		color: #ababab;
		font-size: 22px;
		margin-bottom: 30px;
	}
}