// Color system
$primary: #be1622 !default;

// fonts
$font-family-main: 'Helvetica Neue' !default;
$font-family-folder: HelveticaNeueCyr !default;
$font-weights: (
  Light: 300,
  Roman: 400,
  Bold: 700
) !default;
/*ttf, otf*/
$font-format: ttf !default;


// HEADER
$header-light-bg: false !default;
$header-height: 137px !default;
$header-height-mobile: 71px !default;
$header-bg: $primary !default;
$header-login-position: right !default;
$header-button-height: 35px !default;
$header-button-border-width: 2px !default;
$header-button-width: 126px !default;
$header-button-size: 14px !default;
$header-button-weight: 400 !default;
$header-button-radius: 0px !default;
$header-button-margin: 20px !default;
$header-button-hover: 7% !default;


$login-button-color: #fff !default;
$login-button-bg: transparent !default;
$login-button-border-color: #fff !default;
$login-button-border-style: dotted !default;

$register-button-color: $primary !default;
$register-button-bg: #fff !default;
$register-button-border-color: #fff !default;
$register-button-border-style: solid !default;

$cart-header-bg: #f00 !default;