.main-header {
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 99;
	background: $header-bg;
	box-shadow: $box-shadow-header;
	border-bottom: $border-header;
	@if $header-light-bg {
		color: #343434;
	} @else {
		color: #fff;
	}
}
.main-header-right {
	margin-left: -40px;
}
.logo {
	padding: 5px 0;
	display: inline-block;
	font-size: 0;
	letter-spacing: 0;
	@media(min-width: 768px) {
		height: $header-height;
	}
	@media(max-width: 767px) {
		height: $header-height-mobile;
	}
	&:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		@media(min-width: 768px) {
			height: $header-height - 10px;
		}
		@media(max-width: 767px) {
			height: $header-height-mobile - 10px;
		}
	}
	img {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;
	}
}
.container-header {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.menu-button-wrap {
	display: none;
}

.header-button {
	height: $header-button-height;
	line-height: $header-button-height - 10px - $header-button-border-width - $header-button-border-width;
	font-weight: $header-button-weight;
	min-width: $header-button-width;
	display: inline-block;
	vertical-align: top;
	transition: $header-transition;
	border-radius: $header-button-radius;
	font-size: $header-button-size;
	padding: 5px 12px;
	text-transform: $header-upparcase;
	margin-left: $header-button-margin;
	text-decoration: none;
	text-align: center;
	box-shadow: none;
	outline: none;
	&:hover {
		background: darken($primary, 0% + $header-button-hover);
		border: $header-button-border-width solid darken($primary, 0% + $header-button-hover);
		color: #fff;
	}
	&:active {
		background: darken($primary, 20% + $header-button-hover);
		border: $header-button-border-width solid darken($primary, 20% + $header-button-hover);
		color: #fff;
	}
	&:focus {
		outline: none;
	}
}
.login-button {
	background: $login-button-bg;
	border: $header-button-border-width $login-button-border-style $login-button-border-color;
	color: $login-button-color;
}
.register-button {
	background: $register-button-bg;
	border: $header-button-border-width $register-button-border-style $register-button-border-color;
	color: $register-button-color;
}
.dropdown-user {
	.dropdown-toggle {
		cursor: pointer;
		user-select: none;
		.icon {
			font-size: 44px;
			vertical-align: middle;
		}
		&:after {
			font-size: 17px;
			border-top: .45em solid;
			vertical-align: sub;
		}
	}
}
.dropdown-language {
	margin-left: 40px;
	.dropdown-item {
		cursor: pointer;
	}
	.dropdown-toggle {
		cursor: pointer;
		position: relative;
		padding: 10px 20px 11px 0;
		i {
			display: inline-block;
			vertical-align: bottom;
			font-size: 20px;
			line-height: 23px;
			margin-right: 4px;
		}
		span {
			display: inline-block;
			vertical-align: bottom;
			line-height: 20px;
			text-transform: capitalize;
		}
		&:after {
			border-top: 6px solid;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			position: absolute;
			margin-top: -2px;
			top: 50%;
			right: 0;
			z-index: 1;
		}
		&:before {
			content: "";
			border-top: 6px solid #fff;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			position: absolute;
			margin-top: -4px;
			top: 50%;
			right: 0;
			z-index: 2;
		}
	}
}

.cart-header {
	position: relative;
	margin-right: 30px;
	&:hover {
		text-decoration: none;
	}
	.icon {
		font-size: 30px;
	}
	span {
		height: 18px;
		width: 18px;
		font-size: 10px;
		font-weight: 700;
		line-height: 18px;
		text-align: center;
		display: block;
		position: absolute;
		bottom: 0;
		right: -8px;
		z-index: 2;
		color: #fff;
		background: $cart-header-bg;
		border-radius: 100%;
	}
}

@media (min-width: 767px) {
	.login-register-content {
		> * {
			float: $header-login-position;
		}
	}
}
@media (max-width: 767px) {
	.menu-button-wrap {
		display: block;
	}
	.login-register-wrap {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 2;
		display: none;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			background: rgba(0, 0, 0, 0.5);
			z-index: 1;
		}
	}
	.login-register-content {
		position: relative;
		background: darken($header-bg, 3%);
		padding: 25px 10px 4px;
		z-index: 2;
	}
	.menu-button {
		width: 22px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}
	.menu-button > div {
		height: 2px;
		margin: 2px 0;
		position: relative;
		transition: all 0.2s ease-out 0s;
		@if $header-light-bg {
			background: $primary;
		} @else {
			background: #fff;
		}
	}
	.header-button {
		width: 100%;
		height: 40px;
		display: block;
		line-height: 30 - $header-button-border-width - $header-button-border-width;
		font-size: 20px;
		margin: 0 0 20px;
	}
	.menu-button-wrap span {
		font-size: 16px;
		margin-right: 20px;
		@if $header-light-bg {
			color: $primary;
		} @else {
			color: #fff;
		}
	}
	.menu-open .menu-button > div:nth-child(2) {
		opacity: 0;
	}
	.menu-open .menu-button > div:nth-child(3) {
		opacity: 0;
	}
	.menu-open .menu-button > div:nth-child(1) {
		transform: rotate(45deg);
		top: 6px;
	}
	.menu-open .menu-button > div:nth-child(4) {
		transform: rotate(-45deg);
		top: -6px;
	}
	.menu-open .login-register-wrap {
		display: block;
	}
	.main-header-right {
		margin-right: 0;
	}
	.dropdown-language {
		margin-left: 15px;
	}
	.dropdown-language .dropdown-toggle span {
		display: none;
	}
	.dropdown-language .dropdown-toggle i {
		font-size: 30px;
		margin-right: -4px;
	}
	.dropdown-user .dropdown-toggle .icon {
		font-size: 34px;
	}
	.cart-header {
		margin-right: 20px;
	}
}