.search-index-section {
	padding: 90px 0;
}
.form-index {
	max-width: 670px;
	margin: auto;
	position: relative;
}
.form-index-btn {
	min-width: 33.3%;
	font-size: 14px;
	z-index: 3;
	margin: 0 !important;
	border-color: $primary;
}
.form-index-input {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 33.3%;
	min-width: 0;
	margin: 0 !important;
	.form-control {
		border: 2px solid #c8c8c8;
		border-right-width: 0;
		height: 55px;
		color: #646464;
		font-size: 12px;
		padding: 5px 20px;
		margin: 0;
		z-index: 2;
		&:focus {
			box-shadow: none;
			border-color: $primary;
			~ .form-index-shadow {
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
			}
			&::placeholder {
				opacity: 0.8;
			}
		}
	}
}
.form-index-address {
	.form-control {
		padding-left: 55px;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 55px;
		background-image: escape-svg($form-index-icon);
		background-size: 17px auto;
		background-repeat: no-repeat;
		background-position: 17px 50%;
		z-index: 1;
	}
}
.mobileapp-section {
	max-width: 80%;
	width: 424px;
	margin: 0 auto 90px;
}



// form-drop-down
.form-dd-select, .form-dd {
	position: relative;
	z-index: 3;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 33.3%;
	min-width: 0;
	margin: 0 !important;
}
.form-dd-menu {
	position: absolute;
	top: 100%;
	left: -50px;
	right: -50px;
	background: #fff;
	padding: 15px;
	z-index: 20;
	border-radius: 4px;
	margin-top: 20px;
	display: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	.form-control {
		margin-bottom: 15px;
	}
}
.form-dd-title, .form-dd-select {
	height: 55px;
	line-height: 32px;
	text-overflow: ellipsis;
	color: #000;
	font-size: 20px;
	border: 2px solid #c8c8c8;
	border-right: none;
	border-radius: 0;
	padding: 10px 30px 10px 10px;
	background: url(../images/dd-arrow.png) 96% 23px no-repeat #fff;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	overflow: hidden;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.city-area-list {
	list-style: none;
	overflow-y: scroll;
	max-height: 300px;
	min-width: 209px;
	background-color: #fff;
	padding: 0;
	margin-bottom: 0;
	li {
		a {
			cursor: pointer;
			padding: 5px 13px;
			display: block;
			&:hover {
				color: #fff;
				background: $primary;
				text-decoration: none;
			}
		}
	}
}

// END form-drop-down


@media(max-width: 767px) {
	.form-index-btn {
		background-image: escape-svg($button-search-icon);
		background-repeat: no-repeat;
		background-size: 16px auto;
		background-position: 50% 50%;
		text-indent: -1000px;
		overflow: hidden;
		min-width: 45px;
		max-width: 45px;
		height: 45px;
	}
	.form-dd-select, .form-dd-title {
		height: 45px;
		background-position: 96% 16px;
		padding: 4px 20px 4px 8px;
		font-size: 12px;
		background-size: 12px auto;
	}
	.form-index-input .form-control {
		height: 45px;
	}
	.form-dd-menu {
		left: -70px;
	}
	.mobileapp-section {
		.row {
			margin-left: -5px;
			margin-right: -5px;
			> * {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}