html, body {
	height: 100%;
}
.wrapper {
	max-width: 1170px;
	margin: auto;
    background: #fff;
    min-height: 100vh;
    box-shadow: 0 0 3px #888;
	@if $header-height !=  $header-height-mobile {
		@media(min-width: 768px) {
			padding: $header-height + 40 30px $footer-height + 20;
		}
		@media(max-width: 767px) {
			padding: $header-height-mobile + 40 30px $footer-height + 20;
		}
	} @else {
		padding: $header-height + 40 30px $footer-height + 20;
	}
}
@media(max-width: 767px) {
	.wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
}