/*-----------------------------
         Header CSS 
/*---------------------------*/
#header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  margin-top: 0px;
  background: #000;
  border-bottom: 1px solid #e60001;
}
.header-logo img {
  width: 100% !important;
}
#home_logo {
  width: auto;
  float: left;
  margin-left: 26px;
  height: 68px;
  width: 168px;
}
#home_logo img {
  width: 100%;
}
#header .navbar {
  margin-bottom: 0px;
}
.header-right-section {
  float: right;
}
#header .navbar-nav > li {
  list-style: outside none none;
  width: auto !important;
}
#header .navbar-nav > ul {
  width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
}
.mobile-nav {
  -webkit-box-shadow: 0 0px 0 0px inset;
  -moz-box-shadow: 0 0px 0 0px inset;
  box-shadow: 0 0px 0 0px inset;
}
#header .navbar-nav {
  margin: 0px 17px 0 0;
}
#header .navbar-nav > li {
  width: 100%;
  list-style: none;
}
#header .navbar-nav > li > a {
  list-style: none;
  float: left;
  color: #ffefd8;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 0px 11px;
  font-weight: normal;
  line-height: 52px;
  font-family: 'Montserrat';
}
#header .navbar-nav > li > a:hover {
  background: #eb2227;
}
#header .navbar-nav > li > a {
  background: none;
}
.login-icn {
  background: rgba(0, 0, 0, 0) url("/static/shropshiretakeaways/images/sprite.png") repeat scroll -299px -12px;
}
.register-icn {
  background: rgba(0, 0, 0, 0) url("/static/shropshiretakeaways/images/sprite.png") repeat scroll -338px -12px;
}
#header .myorder-button > li > a {
  list-style: none;
  float: left;
  color: #ffefd8;
  background: #4D4749;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 0px;
  font-weight: normal;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Montserrat';
}
#header .myorder-button > li > a:hover {
  color: #eb2227;
  background: #241e20;
}
.cart-header {
  margin: 9px;
}
.cart-header .icon {
  color: #fff;
}
.mobile-nav {
  padding-top: 8px;
}
