@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?55hhyk');
  src:  url('fonts/icomoon.eot?55hhyk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?55hhyk') format('truetype'),
    url('fonts/icomoon.woff?55hhyk') format('woff'),
    url('fonts/icomoon.svg?55hhyk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e907";
}
.icon-motorbike:before {
  content: "\e909";
}
.icon-store:before {
  content: "\e90a";
}
.icon-time:before {
  content: "\e90b";
}
.icon-discount-badge:before {
  content: "\e905";
}
.icon-plus-alt:before {
  content: "\e90c";
}
.icon-earth:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e900";
}
.icon-shopping-cart:before {
  content: "\e901";
}
.icon-equalizer:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e908";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-chevron-with-circle-up:before {
  content: "\e90d";
}
.icon-chevron-with-circle-right:before {
  content: "\e90e";
}
.icon-chevron-with-circle-left:before {
  content: "\e90f";
}
.icon-chevron-with-circle-down:before {
  content: "\e910";
}
.icon-chevron-thin-up:before {
  content: "\e911";
}
.icon-chevron-thin-right:before {
  content: "\e912";
}
.icon-chevron-thin-left:before {
  content: "\e913";
}
.icon-chevron-thin-down:before {
  content: "\e914";
}
.icon-chevron-small-up:before {
  content: "\e915";
}
.icon-chevron-small-right:before {
  content: "\e916";
}
.icon-chevron-small-left:before {
  content: "\e917";
}
.icon-chevron-small-down:before {
  content: "\e918";
}
.icon-chevron-right:before {
  content: "\e919";
}
.icon-chevron-left:before {
  content: "\e91a";
}
.icon-chevron-down:before {
  content: "\e91b";
}
.icon-chevron-up:before {
  content: "\e91c";
}
