.header {
	&-top {
		background: #13151d;
		font-size: 14px;
		color: #d9e7f3;
		overflow: hidden;
		height: 50px;
		font-family: 'Roboto-Regular';
		a {
			color: inherit;
			text-decoration: none;
		}
		&-menu {
			font-size: 14px;
			position: absolute;
			text-align: center;
			top: 0;
			left: 319px;
			right: 300px;
			padding: 17px 0;
			a {
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
				text-transform: uppercase;
				margin: 0 18px;
				> * {
					display: inline-block;
					vertical-align: top;
				}
				img {
					margin-top: -2px;
					margin-right: 3px;
				}
			}
		}
	}
	&-language {
		float: left;
		font-size: 14px;
		padding: 18px 0;
		&-title {
			color: #a6bacc;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&-dropdown {
		display: inline-block;
		vertical-align: middle;
		&-title {
			color: #ffffff;
			position: relative;
			padding-right: 16px;
			font-family: 'Roboto-Bold';
			img {
				display: inline-block;
				vertical-align: middle;
			}
			span {
				display: inline-block;
				vertical-align: middle;
				margin-right: 4px;
			}
			&:after {
				content: " ";
				display: block;
				position: absolute;
				top: 7px;
				right: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid #fbc300;
			}
		}
	}
	&-share {
		float: right;
		padding: 16px 0;
		a {
			display: inline-block;
			vertical-align: top;
			margin-left: 1px;
		}
	}
	&-main {
		background: rgba(28, 30, 38, 0.9);
		overflow: hidden;
		height: 87px;
		position: relative;
		z-index: 2;
	}
	&-logo {
		float: left;
		margin: 9px 0;
	}
	&-main-right {
		float: right;
		margin: 28px 0;
		h6 {
			font-weight: normal;
			font-family: 'Roboto-Regular';
			margin: 0 0 -2px;
			color: #97b0c6;
			font-size: 11px;
		}
		p {
			color: #ffc400;
			margin: 0;
			font-size: 16px;
		}
	}
	&-btn {
		float: right;
		margin-left: 21px;
		width: 29px;
		> div {
			height: 3px;
			margin: 6px 0;
			display: block;
			&:after {
				content: "";
				height: 100%;
				background: #ffc500;
				display: block;
				float: right;
				width: 100%;
				border-radius: 3px;
			}
			&:nth-child(1) {
				&:before {
					content: "";
					display: block;
					background: #ffc500;
					float: left;
					height: 100%;
					float: left;
					width: 9px;
					border-radius: 3px;
				}
				&:after {
					width: 18px;
				}
			}
			&:nth-child(3) {
				&:after {
					width: 23px;
				}
			}
		}
	}
	&-button {
		background: #ffc500;
		color: #000;
		font-family: 'Roboto-Bold';
		padding: 7px 12px;
		text-decoration: none;
		font-size: 14px;
		border-radius: 4px;
		float: right;
		margin-left: 11px;
	}
	&-user {
		position: relative;
		padding-left: 42px;
		float: right;
		margin-left: 45px;
		&-img {
			height: 30px;
			width: 30px;
			border-radius: 100%;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&-bullets {
		float: right;
		img {
			display: inline-block;
			margin-right: 2px;
		}
	}
	&-nav {
		position: absolute;
		top: 28px;
		left: 535px;
		right: 530px;
		text-align: center;
		color: #fff;
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		li {
			display: inline-block;
			vertical-align: middle;
			margin: 0 23px;
		}
		a {
			display: block;
			text-decoration: none;
			color: #fff;
			> * {
				display: inline-block;
				vertical-align: middle;
			}
			img {
				margin-right: 6px;
			}
		}
	}

	&-slider {
		margin: -87px 0 -94px;
		padding: 0;
		position: relative;
		z-index: 1;
	}

	&-slide {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		padding: 18px 0;
		min-height: 197px;
	}
	&-slide-text {
		h2 {
			font-size: 60px;
			line-height: 0.74;
			color: #fff;
			text-shadow: 0px 4px 10px rgba( 0, 0, 0, 0.72 );
			margin: 0;
			font-family: 'Counter-Strike-Regular';
			font-weight: normal;
		}
		p {
			font-family: 'Roboto-Regular';
			font-weight: normal;
			margin: 0;
			font-size: 38px;
			line-height: 1;
			text-shadow: 0px 3px 9px rgba( 0, 0, 0, 0.8 );
			color: #fcc300;
		}

	}

	&-hero {
		position: relative;
		padding-bottom: 10px;
		background-color: #20222b;
		background-repeat: no-repeat;
		background-position: 50% 0;
		padding-top: 87px;
		&-content {
			position: relative;
			padding: 10px 0;
			min-height: 290px;
			.hero-date {
				position: absolute;
				top: 47px;
				right: 85px;
				text-align: center;
				&-title {
					font-size: 16px;
					margin-bottom: 15px;
				}
				&-number {
					h6 {
						font-size: 100px;
						line-height: 90px;
						min-width: 116px;
						margin: auto;
					}
					p {
						font-size: 24px;
						color: #F0E8D2;
					}
					> div {
						margin: 0 6px;
					}
				}
			}
		}
		&-logo {
			display: block;
			margin: 9px auto 20px;
			width: 483px;
		}
	}
}
.gun {
	position: relative;
	z-index: 2;
	margin: -17px 0 18px;
}
@media(max-width: 1900px) {
	.header-slide-text h2 {
		font-size: 3vw;
	}
	.header-slide-text p {
		font-size: 2vw;
	}
	.header-slide-img {
		width: 24%;
	}
	.header-slide-text {
		width: 52%;
	}
}
@media(max-width: 1770px) {
	.header-nav a img {
		display: block;
		margin: 0 auto 4px;
	}
	.header-nav {
		left: 415px;
		right: 415px;
		top: 12px;
	}
	
	.header-bullets {
		display: none;
	}
	.header-hero-content .hero-date-number h6 {
		font-size: 76px;
		min-width: 86px;
	}
	.header-hero-content .hero-date-number p {
		font-size: 16px;
	}
	.header-hero-content .hero-date-number>div {
		margin: 0 4px;
	}
}
@media(max-width: 1380px) {
	.header-nav {
		left: 250px;
	}
	.header-nav li {
		margin: 0 10px;
	}
	.header-hero-logo {
		width: 700px;
		padding-right: 340px;
	}
}
@media(max-width: 1200px) {
	.header-top-menu a {
		margin: 0 10px;
	}
	.header-nav {
		font-size: 12px;
		top: 15px;
	}
	.slick-prev {
		left: 10px;
	}
	.slick-next {
		right: 10px;
	}
}
@media(max-width: 991px) {
	.header-nav {
		display: none;
	}
	.header-top-menu {
		display: none;
	}
	.header-hero-content .hero-date-number h6 {
		font-size: 65px;
		min-width: 75px;
	}
	.header-hero-content .hero-date-number>div {
		margin: 0 2px;
	}
	.header-hero-logo {
		padding-right: 380px;
	}
}
@media(min-width: 768px) {
	.header-slide-order-first {
		order: -1;
	}
}
@media(max-width: 767px) {
	.header-button {
		display: none;
	}
	.header-logo {
		margin: 11px 0;
		width: 140px;
	}
	.header-hero-logo {
		padding: 0;
		margin: -13px auto;
		width: 200px;
	}
	.gun {
		margin: 0;
	}
	.header-hero-content .hero-date {
		width: 100%;
		position: static;
	}
	.header-slide-text {
		width: 100%;
		h2 {
			font-size: 32px;
		}
		p {
			font-size: 20px;
		}
	}
	.header-slide-img {
		width: 50%;
		img {
			width: 150px;
		}
	}
}

@media(max-width: 450px) {
	.header-language {
		font-size: 12px;
	}
	.header-share {
		> a {
			width: 50px;
		}
	}
	.header-main-right p {
		font-size: 14px;
	}
	.header-user {
		margin-left: 0;
	}
	.header-logo {
		margin: 22px 0;
		width: 92px;
	}
	.header-hero-content .hero-date-number p {
		font-size: 14px;
	}
	.header-hero-content .hero-date-number h6 {
		font-size: 40px;
		min-width: 42px;
	}
	.header-hero-content .hero-date-number>div {
		margin: 0 2px;
	}
}