html, body {
	padding: 0;
	margin: 0;
}
p {
	margin: 0 0 1em;
}
body {
	font-size: 18px;
	line-height: 1.3333;
	font-weight: normal;
	font-style: normal;
	font-family: 'Roboto-Medium';
	color: #f0e8d2;
	background: #20222B;
	text-shadow: 2px 3px 24px rgba(38, 35, 31, 0.66);
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	display: block;
	margin: auto;
	max-width: 100%;
}
.hero {
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: cover;
	min-height: 1080px;
	padding: 83px 0 207px;
	position: relative;
	z-index: 3;
	@media(max-width: 1200px) {
		min-height: 100px;
	}
	&-logo {
		margin-bottom: 33px;
	}
	&-column {
		text-align: center;
		max-width: 830px;
		@media(max-width: 1200px) {
			margin: auto;
		}
	}
	&-content {
		max-width: 520px;
		margin: 0 auto 55px;
		h6 {
			font-size: 29px;
			font-family: 'aAhaWow';
			font-weight: normal;
			background-color: red;
			background-image: linear-gradient(0deg, #FF9015 30%, #FFB844 50%, #FFDC7C 70%);
			background-size: 100%;
			background-repeat: repeat;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-background-clip: text;
			-moz-text-fill-color: transparent;
			text-shadow: none;
			margin: 0 0 9px;
			filter: drop-shadow(5px 8px 18px rgba(38, 35, 31, 0.91));
		}
		p {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 14px;
		}
	}
	&-date {
		margin-bottom: 46px;
		&-title {
			font-size: 22px;
			font-weight: normal;
			margin: 0 0 21px;
			text-shadow: 4px 7px 10px rgba(36, 40, 41, 1);
		}
		&-number {
			/*background: #181123;*/
			> div {
				display: inline-block;
				vertical-align: top;
				margin: 0 28px;
				@media(max-width: 991px) {
					margin: 0 20px;
				}
			}
			h6 {
				font-family: 'GOODBRUSH';
				font-weight: normal;
				font-size: 120px;
				background-color: red;
				background-image: linear-gradient(0deg, #FF9015 30%, #FFB844 50%, #FFDC7C 70%);
				background-size: 100%;
				background-repeat: repeat;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				-moz-background-clip: text;
				-moz-text-fill-color: transparent;
				text-shadow: none;
				margin: 0 0 -3px;
				line-height: 1;
				filter: drop-shadow(0px 4px 7px #25251C);
				@media(max-width: 991px) {
					font-size: 78px;
				}
			}
			p {
				font-size: 23px;
				color: #e9e0c7;
				line-height: 1;
				margin: 0;
				font-family: 'Roboto-Black';
				text-shadow: 4px 8px 24px rgba(38, 35, 31, 0.66);
			}
		}
	}
	&-bullets {
		background-image: url(../images/bullets.png);
		background-repeat: no-repeat;
		font-size: 30px;
		font-family: 'aAhaWow';
		font-weight: normal;
		color: #3f3c32;
		text-shadow: none;
		text-align: left;
		padding: 24px 10px 4px 57px;
		height: 99px;
		margin: auto;
		width: 469px;
		&:before {
			content: "";
			background-image: url(../images/bullets-icon.svg);
			width: 37px;
			height: 15px;
			display: inline-block;
			vertical-align: top;
			background-size: contain;
			background-repeat: no-repeat;
			margin: 14px 6px 0 -5px;
		}
	}
	&-breadcrumbs {
		padding: 0;
		margin: -81px 0 155px;
		text-align: center;
		font-family: 'Roboto';
		font-weight: 700;
		font-size: 28px;
		li {
			display: inline-block;
			vertical-align: top;
			&:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				background-image: url(../images/hero-arrow.svg);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: contain;
				height: 11px;
				width: 15px;
				margin: -2px 2px 0px 18px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
		a {
			color: #FBC300;
			text-decoration: none;
		}
	}
}
.container {
	padding: 0 102px;
	@media(max-width: 1200px) {
		padding: 0 60px;
	}
}
.section {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding: 138px 0 100px;
	margin-top: -72px;
	margin-bottom: -94px;
	position: relative;
	z-index: 2;
	&-title {
		font-family: 'aAhaWow';
		font-weight: normal;
		font-size: 62px;
		background-color: red;
		background-image: linear-gradient(0deg, #d09b4d 30%, #f1bf78 50%, #ffd79d 70%);
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		text-shadow: none;
		margin: 0 0 55px;
		line-height: 1;
		text-align: center;
		filter: drop-shadow(5px 8px 18px rgba(38, 35, 31, 0.91));
	}
	&-text {
		background-image: url(../images/section-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		min-height: 116px;
		max-width: 1176px;
		margin: 0 auto 27px;
		font-size: 24px;
		line-height: 26px;
		color: #f3e8d2;
  		text-shadow: 0px 0px 15px rgba(53, 49, 48, 0.43);
  		padding: 28px 190px 16px 187px;
  		text-align: center;
  		position: relative;
  		left: 0;
  		p {
  			margin: 0;
  		}
	}
}
.product {
	display: block;
	text-decoration: none;
	&-img_bg {
		height: 256px;
		background-image: url(../images/product-bg.png);
		background-repeat: no-repeat;
		width: 303px;
		padding: 30px 0;
		margin: auto;
		position: relative;
	}
	&-icon {
		background-image: url(../images/list-store-icon.png);
		width: 75px;
		height: 54px;
		position: absolute;
		top: -4px;
		right: -12px;
		z-index: 2;
		&2 {
			background-image: url(../images/list-store-icon2.png);
		}
		&3 {
			background-image: url(../images/list-store-icon3.png);
		}
	}
	&-img {
		width: 238px;
		height: 165px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
	}
	&-title {
		font-size: 19px;
		color: #fff;
		margin-top: -57px;
		font-weight: normal;
		font-family: 'Roboto-Bold';
		text-shadow: -3px 3px 3px rgba(36, 40, 41, 0.63);
		text-align: center;
		position: relative;
		z-index: 2;
	}
	&-bullets {
		background-image: url(../images/bullets2.png);
		background-repeat: no-repeat;
		background-size: contain;
		font-size: 22px;
		font-family: 'aAhaWow';
		font-weight: normal;
		color: #3f3c32;
		text-shadow: none;
		text-align: left;
		padding: 13px 10px 4px 48px;
		height: 52px;
		margin: 3px 0 0 -13px;
		width: 312px;
		text-align: center;
		position: relative;
		left: 24px;
		&:before {
			content: "";
			background-image: url(../images/bullets-icon.svg);
			background-size: contain;
			background-repeat: no-repeat;
			width: 26px;
			height: 13px;
			display: inline-block;
			vertical-align: top;
			margin: 9px 4px 0 -34px;
		}
	}
}
.list-store {
	padding: 0;
	margin: 0 -10px 0 -36px;
	list-style: none;
	font-size: 0;
	letter-spacing: 0;
	list-style: none;
	li {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		margin-bottom: 62px;
	}
}
.table_style {
	margin: 0 auto 57px;
	max-width: 1450px;
	&-user {
		white-space: nowrap;
		&-img {
			border-radius: 100%;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			vertical-align: middle;
			height: 47px;
			width: 47px;
			margin-right: 10px;
		}
		&-name {
			display: inline-block;
			vertical-align: middle;
		}
	}
	&-titles {
		font-size: 16px;
		font-family: 'Roboto-Black';
		color: #ede1c7;
		text-shadow: 2px 2px 3px rgba(61, 54, 44, 0.78);
		margin-bottom: 20px;
		.table_style-list {
			> div {
				margin-left: -90px;
				margin-right: -80px;
				> div {
					&:nth-child(2) {
						padding-left: 90px;
					}
					&:nth-child(3) {
						padding-left: 40px;
					}
				}
			}
		}
	}
	&-list {
		text-align: left;
		padding: 0 100px;
		max-width: 1590px;
		margin: auto;
		> div {
			display: flex;
			flex-wrap: wrap;
			align-items: center!important;
			> div {
				flex: 0 0 auto;

				/*flex: 0 0 auto;
				width: 66.6666666667%;*/
				&:first-child, &:last-child {
					text-align: center;
				}
				&:first-child {
					width: 14%;
				}
				&:nth-child(2) {
					padding-left: 23px;
					width: 38.5%;
				}
				&:nth-child(3) {
					width: 25%;
				}
				&:nth-child(4) {
					padding-left: 35px;
					padding-right: 11px;
					width: 22.5%;
				}
			}
		}
	}
	&-content {
		color: #3d362c;
		font-size: 24px;
		font-family: 'aAhaWow';
		padding: 0;
		margin: 0;
		list-style: none;
		white-space: nowrap;
		li {
		/*	background-image: url(../images/li4.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;*/
			height: 70px;
			max-width: 1248px;
			background-size: 100% auto;
			position: relative;
			margin: 0 auto 14px;
			background: #f0e8d2;
			div {
				overflow: hidden;
				text-overflow: ellipsis;
			}
			> div {
				margin-left: -186px;
				margin-right: -186px;
				height: 100%;
				position: relative;
				z-index: 2;
			}
			&:before {
				content: "";
				display: block;
				background-image: url(../images/li4_1.png);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 100% 100%;
				width: 100px;
				height: 80px;
				position: absolute;
				top: -5px;
				left: -100px;
				z-index: 1;
			}
			&:after {
				content: "";
				display: block;
				background-image: url(../images/li4_2.png);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 100% 100%;
				width: 100px;
				height: 80px;
				position: absolute;
				top: -5px;
				right: -100px;
				z-index: 1;
			}

		}
		.table_style-list1 {
			background: #e5c282;
			&:before {
				background-image: url(../images/li1_1.png);
			}
			&:after {
				background-image: url(../images/li1_2.png);
			}
			.table_style-price {
				background: #9D7F47;
			}
		}
		.table_style-list2 {
			background: #dedede;
			&:before {
				background-image: url(../images/li2_1.png);
			}
			&:after {
				background-image: url(../images/li2_2.png);
			}
			.table_style-price {
				background: #91979C;
			}
		}
		.table_style-list3 {
			background: #d18d5b;
			&:before {
				background-image: url(../images/li3_1.png);
			}
			&:after {
				background-image: url(../images/li3_2.png);
			}
			.table_style-price {
				background: #995B2D;
			}
		}
	}

	&-bullet {
		&:before {
			content: "";
			background-image: url(../images/bullets-icon.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			width: 24px;
			height: 9px;
			display: inline-block;
			vertical-align: top;
			margin: 10px 12px 0 0;
		}
	}
	&-price {
		font-family: 'Roboto-Bold';
		font-size: 30px;
		color: #fff;
		border-radius: 5px;
		background: #BAAD8B;
		padding: 8px 10px;
		min-width: 128px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}
	&-number {
		font-size: 30px;
	}
}
.section_leaderboard {
	padding: 144px 0 49px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
	.section-title {
		margin-bottom: 24px;
	}
	h3.section-title {
		font-size: 56px;
		margin-bottom: 40px;
	}
}

@media(min-width: 1770px) {
	.table_style-column {
		max-width: 1470px;
		margin-left: auto;
		margin-right: auto;
		> * {
			width: 50%;
			float: left;
		}
		&:after {
			content: " ";
			display: block;
			clear: both;
			width: 100%;
		}
		.table_style-content {
			font-size: 20px;
			padding: 0 110px;
		}
		.table_style-price {
			font-size: 24px;
			padding: 10px;
			min-width: 100px;
		}
		.table_style-list {
/*			padding-left: 10px;
			padding-right: 10px;*/
			> div {
				> div {
					&:nth-child(1) {
						width: 7%;
						padding-left: 13px;
					}
					&:nth-child(2) {
						padding-left: 8px;
						width: 38.2%;
					}
					&:nth-child(3) {
						width: 33%;
					}
					&:nth-child(4) {
						padding-right: 0;
						padding-left: 0;
						width: 19.8%;
					}
				}
			}
		}
		.table_style-number {
			font-size: 24px;
		}
		.table_style-user-img {
			margin-right: 6px;
		}
		.table_style-bullet:before {
			margin: 8px 5px 0 5px;
		}
	}
}

@media(max-width: 1770px) {
	.product-img_bg {
		background-size: contain;
		background-repeat: no-repeat;
		height: 236px;
		width: 270px;
	}
	.product-img {
		width: 212px;
		height: 142px;
	}
	.product-title {
		font-size: 17px;
		margin-top: -65px;
	}
	.product-bullets {
		font-size: 16px;
		padding: 17px 10px 4px 38px;
		width: 288px;
		margin-left: -33px;
	}
	.list-store {
		text-align: center;
	}
	.list-store li {
		margin-left: 17px;
		margin-right: 17px;
		margin-bottom: 30px;
		width: 270px;
	}
	.product-bullets:before {
		background-repeat: no-repeat;
		width: 24px;
		margin: 5px 4px 0 0;
	}

}


@media(max-width: 1570px) {
	.table_style-content li {
		background-size: 100% 120px;	
	}
	.table_style-list {
		> div {
			> div {
				&:first-child {
					width: 7%;
				}
				&:nth-child(2) {
					padding-left: 0;
					width: 39.5%;
				}
				&:nth-child(3) {
					width: 35%;
				}
				&:nth-child(4) {
					width: 18.5%;
				}
			}
		}
	}
	.table_style-list {
		padding: 0 60px;
	}
	.table_style {
		padding: 0 100px;
	}
	.table_style-content li>div {
		margin-left: -144px;
		margin-right: -144px;
	}
}

@media(max-width: 1250px) {
	.table_style-number {
		font-size: 28px;
	}
	.table_style-content {
		font-size: 20px;
	}
}

@media(max-width: 1100px) {
	.table_style {
		margin-left: -60px;
		margin-right: -60px;
	}
	.section-text {
		font-size: 20px;
		padding: 24px 86px 16px 79px;
	}
}
@media(max-width: 991px) {
	.table_style-content li {
		background-size: 120% 120px;
	}
	.table_style-list {
		padding: 0;
	}
	.table_style-content {
		font-size: 18px;
	}
	.table_style-bullet:before {
		margin: 4px 5px 0 0;
	}
	.table_style-list {
		> div {
			> div {
				&:nth-child(2) {
					width: 36.5%;
				}
				&:nth-child(3) {
					width: 33%;
				}
				&:nth-child(4) {
	    			width: 21.5%;
	    			padding: 0;
	    		}
	    	}
    	}
	}
	.table_style-content li>div {
		margin-left: -88px;
		margin-right: -88px;
	}
}


@media(max-width: 767px) {
	.hero-logo {
		max-width: 311px;
		margin: 0 auto 40px;
	}
	.hero-date-title {
		font-size: 20px;
		margin: 0 0 12px;
	}
	.hero-date-number p {
		font-size: 18px;
	}
	.hero-date-number>div {
		margin: 0 12px;
	}
	.hero-content h6 {
		font-size: 26px;
	}
	.hero-content p {
		font-size: 15px;
	}
	.hero-date {
		margin-bottom: 63px;
	}
	.hero-content {
		margin-bottom: 53px;
	}
	.hero-bullets {
		background-size: contain;
		background-repeat: no-repeat;
		width: 400px;
		font-size: 26px;
		padding: 22px 10px 4px 55px;
	}
	.container {
		padding: 0 30px;
	}
	.hero {
		padding-bottom: 86px;
	}


	.section-title {
		font-size: 30px;
		margin-bottom: 26px;
	}
	.product-img_bg {
		padding: 18px 0;
		height: 205px;
		width: 208px;
	}
	.product-img {
    	width: 161px;
    	height: 115px;
	} 
	.product-icon {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		width: 50px;
		top: -9px;
		right: -6px;
	}
	.product-title {
		font-size: 13px;
		margin-top: -69px;
	}
	.product-bullets {
		font-size: 12px;
		padding: 12px 10px 4px 15px;
		width: 230px;
		margin-left: -34px;
		&:before {
			margin: 3px 4px 0 7px;
		}
	}
	.list-store {
		margin: 0 -20px;
	}
	.list-store li {
		width: 208px;
		margin-left: 8px;
		margin-right: 8px;
	}


	.table_style-content {
		font-size: 12px;
	}
	.table_style-user-img {
		width: 32px;
		height: 32px;
		margin-right: 2px;
	}
	.table_style-bullet:before {
		background-repeat: no-repeat;
		margin: 2px 5px 0 0;
		width: 16px;
		height: 10px;
	}
	.table_style {
		padding: 0 60px;
	}
	.table_style-content li:before {
		left: -53px;
	}
	.table_style-content li:after {
		right: -53px;
	}
	.table_style-content li:after, .table_style-content li:before {
		width: 53px;
		top: 0;
		height: 40px;
		background-size: contain;
	}
	.table_style-content .table_style-list:before {
		background-image: url(../images/li4_1_2.png);
	}
	.table_style-content .table_style-list:after {
		background-image: url(../images/li4_2_2.png);
	}
	.table_style-content .table_style-list1:before {
		background-image: url(../images/li1_1_2.png);
	}
	.table_style-content .table_style-list1:after {
		background-image: url(../images/li1_2_2.png);
	}
	.table_style-content .table_style-list2:before {
		background-image: url(../images/li2_1_2.png);
	}
	.table_style-content .table_style-list2:after {
		background-image: url(../images/li2_2_2.png);
	}
	.table_style-content .table_style-list3:before {
		background-image: url(../images/li3_1_2.png);
	}
	.table_style-content .table_style-list3:after {
		background-image: url(../images/li3_2_2.png);
	}
	.table_style-list>div>div:nth-child(3) {
		width: 35%;
	}
	.table_style-price {
		padding: 5px 10px;
		min-width: 68px;
	}
	.table_style-content li>div {
		margin-left: -45px;
		margin-right: -45px;
	}
	.table_style-price {
		font-size: 15px;
		border-radius: 5px;
		padding: 3px 10px;
		min-width: 75px;
	}
	.table_style {
		margin-left: -30px;
		margin-right: -30px;
	}
	.table_style-number {
		font-size: 16px;
	}
	.table_style-titles {
		font-size: 14px;
	}
	.table_style-content {
		font-size: 14px;
	}
	.table_style-content li {
		height: 40px;
		padding-bottom: 0;
		margin-bottom: 5px;
	}
	.section-text {
		font-size: 16px;
		padding: 28px 40px 24px;
		line-height: 19px;
		left: 0;
		margin-left: -30px;
		margin-right: -30px;
	}
	.section_leaderboard h3.section-title {
		font-size: 28px;
	}
	.section {
		margin-bottom: -110px;
	}
	.hero-breadcrumbs {
		margin: -45px 0 100px;
	}
	.table_style-titles .table_style-list>div {
		margin-left: -48px;
		margin-right: -42px;
	}
	.table_style-titles .table_style-list>div>div:nth-child(2) {
		padding-left: 20px;
	}
	.table_style-titles .table_style-list>div>div:nth-child(3) {
		padding-left: 20px;
	}
}

@media(max-width: 450px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.list-store {
		margin-left: -15px;
		margin-right: -15px;
	}
	.section-text, .table_style {
		margin-left: -15px;
		margin-right: -15px;
	}
	.hero-date-number h6 {
		font-size: 60px;
	}
	.hero-date-number p {
		font-size: 12px;
	}
	.hero-date-number>div {
    	margin: 0 4px;
	}
	.hero-bullets {
		width: 280px;
		font-size: 14px;
		padding: 17px 10px 4px 55px;
	}
	.hero-bullets:before {
		width: 20px;
		margin-top: 5px;
	}
	.hero-breadcrumbs {
		font-size: 20px;
	}
	.hero-breadcrumbs li:after {
		margin: -4px 2px 0 12px;
	}
	.hero-date-title {
		font-size: 14px;
	}
	.table_style-content, .table_style-titles {
		font-size: 9px;
	}
	.table_style-user-img {
		width: 21px;
		height: 21px;
	}
	.hero-content h6 {
		font-size: 16px;
	}
	.section-title {
		font-size: 28px;
	}
	.list-store li {
		width: 143px;
		margin-bottom: 0;
	}
	.product-img_bg {
		height: 164px;
		width: 138px;
	}
	.product-img {
		width: 112px;
		height: 75px;
	}
	.product-icon {
		width: 32px;
		top: -15px;
		right: -2px;
	}
	.product-bullets {
		font-size: 8px;
		padding: 11px 10px 4px 5px;
		width: 152px;
		margin-left: -28px;
	}
	.product-bullets:before {
    	margin: 1px 4px 0 16px;
    	width: 14px;
	}
	.section_leaderboard h3.section-title {
		font-size: 28px;
	}
	.table_style-list > div > div:nth-child(2) {
		width: 35.5%;
	}
	.table_style-list>div>div:nth-child(3) {
		width: 36%;
	}
	.table_style-bullet:before {
		margin: -1px 2px 0 0;
	}
	.table_style-number {
		font-size: 10px;
	}
	.table_style-price {
		font-size: 8px;
		border-radius: 4px;
		padding: 5px 6px;
		min-width: 39px;
	}
}