@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        /*background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;*/
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    border-radius: 100%;
    outline: none;
    box-shadow: none;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: 50% 50%;
    background-color: rgba(182, 182, 182, 0.22);
    &:hover {
        background-color: rgba(182, 182, 182, 0.5);
    }
    &:active {
        background-color: rgba(182, 182, 182, 0.7);
    }
}

.slick-prev {
    left: 34px;
    background-image: url(../images/chevron-thin-left.svg);
    &:focus {
        outline: none
    }
}

.slick-next {
    right: 34px;
    background-image: url(../images/chevron-thin-right.svg);
    &:focus {
        outline: none
    }
}

/* Dots */



.slick-dots {
    position: absolute;
    bottom: 78px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
    li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 9px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: rgba(195, 195, 195, 0.5);
            border: none;
            display: block;
            height: 11px;
            width: 11px;
            outline: none;
            position: relative;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            border-radius: 100%;
            opacity: 1;
            &:hover, &:focus {
                outline: none;
            }
            &:after {
                display: none;
            }
        }
        &.slick-active button {
            background: #fdc400;
            box-shadow: 0 0 13px 3px rgba(246, 204, 58, 0.45);
            opacity: 1;
        }
    }
}


