.profile-menu {
	@media(min-width: 768px) {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 1.1;
		font-size: 16px;
		li {
			margin-bottom: 1em;
		}
		a {
			display: block;
			text-decoration: none;
			padding: 0.52em;
			&:hover {
				background: $primary;
				color: #fff;
			}
			&:active {
				background: darken($primary, 10);
				color: #fff;
			}
		}
		.active {
			a {
				background: $primary;
				color: #fff;
			}
		}
	}
	@media(min-width: 992px) {
		font-size: 19px;
	}
	@media(max-width: 767px) {
		display: none;
	}
}