.order-summary {
	border: 2px solid #2b2b2b;
	background: #f5f5f5;
	border-radius: 3px;
	margin-bottom: 30px;
	h6 {
		color: #fff;
		background-color: #2b2b2b;
		border-color: #2b2b2b;
		font-size: 16px;
		line-height: 23px;
		padding: 10px 15px;
		font-weight: 400;
		text-align: center;
		margin: 0;
		text-transform: uppercase;
	}
	.table {
		margin-bottom: 30px;
		tr:last-child {
			td {
				border-bottom: none;
			}
		}
		th {
			padding: 8px;
			border-bottom: 2px solid #ddd;
		}
		td {
			padding: 8px;
			border-color: #ddd;
		}
		.orderitem_qty {
			text-align: center;
			font-weight: 700;
		}
		.orderitem_price {
			text-align: right;
			font-weight: 700;
		}
	}
}
.order-summary-content {
	padding: 20px;
}