.footer {
  background: #f1f1f1;
  color: #999999;
  text-align: center;
  height: auto;
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.22);
  z-index: 2;
  min-height: $footer-height;
  margin-top: -$footer-height;
}
.footer-content {
  max-width: 1230px;
  margin: auto;
  padding: 10px 30px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer-logo {
  width: 125px;
  height: 50px;
  position: relative;
  left: -22px;
}
.copyright a {
  color: #999999;
}
.poweredby {
  color: #df9122;
  direction: ltr;
  a {
    vertical-align: text-bottom;
  }
}
@media (max-width: 767px) {
  .copyright-top {
    display: block;
  }
}

.dynamic-footer-logo {
  max-width: 100px;
}