.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	padding: 100px 15px;
	background: rgba(255, 255, 255, 0.8);
	display: none;
}
.popup-content {
	max-width: 400px;
	margin: auto;
	background: #fff;
	border: 1px solid #f00;
	position: relative;
	z-index: 2;
}
.popup-header {
	min-height: 40px;
	background: #f00;
	position: relative;
}
.close-popup {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 40px;
	background: #0f0;
	cursor: pointer;
}
.popup-body {
	padding: 15px;
}
.popup-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}