.button-menu-info {
	color: #888;
	font-size: 25px;
	cursor: pointer;
	margin-left: 16px;
	> i {
		display: block;
	}
	&:hover {
		color: #000;
	}
}
.button-menu-discount {
	color: #888;
	font-size: 25px;
	margin-left: 16px;
	position: relative;
	> i {
		display: block;
	}
	&:hover {
		color: #000;
		.delivery-tooltip {
			display: block;
		}
	}
}
.delivery-tooltip {
	position: absolute;
	background: #fff;
	bottom: 100%;
	box-shadow: 0 0 4px rgba(0,0,0,.26);
	z-index: 2;
	padding: 20px 38px;
	font-size: 13px;
	color: #d9230f;
	left: 50%;
	margin-bottom: 15px;
	transform: translateX(-50%);
	z-index: 2;
	white-space: nowrap;
	display: none;
	p {
		margin: 0;
	}
	&:after {
		content: " ";
		display: block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 13px solid #fff;
		position: absolute;
		top: 100%;
		right: 50%;
		margin-right: -10px;
		z-index: 2;
	}
	&:before {
		content: " ";
		display: block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 13px solid rgba(0,0,0,.13);
		position: absolute;
		top: 100%;
		margin-top: 1px;
		margin-right: -10px;
		right: 50%;
		z-index: 1;
	}
}