input[type=checkbox] {
	width: 23px;
	height: 18px;
	border: none;
	background-image: escape-svg($form-check-input-square);
	background-size: 18px auto;
	background-repeat: no-repeat;
	background-position: 0 0;
	float: left;
	margin-left: -28px;
	margin-top: -1px;
	appearance: none;
	user-select: none;
	outline: none;
	cursor: pointer;
	&:checked {
		background-image: escape-svg($form-check-input-checked-bg-image), escape-svg($form-check-input-square);
		background-size: 27px auto, 18px auto;
		background-repeat: no-repeat, no-repeat;
		background-position: -1px -5px, 0 0;
	}
}
input[type=radio] {
	width: 22px;
	height: 22px;
	border: none;
	background-image: escape-svg($form-check-input-circle);
	background-size: 22px auto;
	background-repeat: no-repeat;
	background-position: 0 0;
	float: left;
	margin-left: -28px;
	margin-top: -3px;
	appearance: none;
	user-select: none;
	outline: none;
	cursor: pointer;
	&:checked {
		background-image: escape-svg($form-check-radio-checked-bg-image), escape-svg($form-check-input-circle);
		background-size: 22px auto, 22px auto;
		background-repeat: no-repeat, no-repeat;
		background-position: 0 0, 0 0;
	}
}
.dropdown-select {
	width: 156px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	margin-top: 16px;
	> .form-select {
		cursor: pointer;
		user-select: none;
	}
	.dropdown-menu  {
		min-width: 100%;
		max-width: 300px;
	}
}