.wrap-btn {
	margin: 40px 0 20px;
}
.btn {
	text-decoration: none;
	border-radius: 0;
	font-size: 18px;
	line-height: 1.3;
	padding: 13px 50px;
	font-weight: 300;
	min-width: 100px;
	font-family: 'SF Pro Display';
	letter-spacing: -1%;
	min-width: 240px;
	text-align: center;
}
.btn-primary{
	background-color: #181818;
	border-color: #181818;
	color: #fff;
}
.btn-secondary{
	border-color: #fff;
	background-color: transparent;
	color: #fff;
}
@media(max-width: 992px){
	.btn{
		font-size: 15px;
		padding: 13px 37px;
	}
}
@media(max-width: 992px) {
	.main-header{
		.btn{
			display: none;
		}
	}
}
@media(max-width: 575px){
	.btn{
		font-size: 12px;
		padding: 12px 41px;
		min-width: auto;
	}
}