.wrap-btn {
	margin: 42px 0 20px;
}
.btn {
	text-decoration: none;
	border-radius: 0;
	font-size: 18px;
	line-height: 18px;
	padding: 20px 30px;
	font-weight: 600;
	min-width: 230px;
	letter-spacing: 0.16px;
	font-family: 'Roboto';
}
