@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-blackitalic-webfont.eot');
    src: url('../fonts/silka-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-blackitalic-webfont.woff') format('woff'),
         url('../fonts/silka-blackitalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-bolditalic-webfont.eot');
    src: url('../fonts/silka-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-bolditalic-webfont.woff') format('woff'),
         url('../fonts/silka-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-extralightitalic-webfont.eot');
    src: url('../fonts/silka-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/silka-extralightitalic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-lightitalic-webfont.eot');
    src: url('../fonts/silka-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-lightitalic-webfont.woff') format('woff'),
         url('../fonts/silka-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-mediumitalic-webfont.eot');
    src: url('../fonts/silka-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/silka-mediumitalic-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-regularitalic-webfont.eot');
    src: url('../fonts/silka-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-regularitalic-webfont.woff') format('woff'),
         url('../fonts/silka-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-semibolditalic-webfont.eot');
    src: url('../fonts/silka-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/silka-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-thinitalic-webfont.eot');
    src: url('../fonts/silka-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/silka-thinitalic-webfont.woff') format('woff'),
         url('../fonts/silka-thinitalic-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-black-webfont.eot');
    src: url('../fonts/silka-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-black-webfont.woff2') format('woff2'),
         url('../fonts/silka-black-webfont.woff') format('woff'),
         url('../fonts/silka-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-bold-webfont.eot');
    src: url('../fonts/silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-bold-webfont.woff2') format('woff2'),
         url('../fonts/silka-bold-webfont.woff') format('woff'),
         url('../fonts/silka-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-extralight-webfont.eot');
    src: url('../fonts/silka-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-extralight-webfont.woff2') format('woff2'),
         url('../fonts/silka-extralight-webfont.woff') format('woff'),
         url('../fonts/silka-extralight-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-light-webfont.eot');
    src: url('../fonts/silka-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-light-webfont.woff2') format('woff2'),
         url('../fonts/silka-light-webfont.woff') format('woff'),
         url('../fonts/silka-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-medium-webfont.eot');
    src: url('../fonts/silka-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-medium-webfont.woff2') format('woff2'),
         url('../fonts/silka-medium-webfont.woff') format('woff'),
         url('../fonts/silka-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-regular-webfont.eot');
    src: url('../fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-regular-webfont.woff2') format('woff2'),
         url('../fonts/silka-regular-webfont.woff') format('woff'),
         url('../fonts/silka-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-semibold-webfont.eot');
    src: url('../fonts/silka-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-semibold-webfont.woff2') format('woff2'),
         url('../fonts/silka-semibold-webfont.woff') format('woff'),
         url('../fonts/silka-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Silka';
    src: url('../fonts/silka-thin-webfont.eot');
    src: url('../fonts/silka-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silka-thin-webfont.woff2') format('woff2'),
         url('../fonts/silka-thin-webfont.woff') format('woff'),
         url('../fonts/silka-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}