.delivery-charge-menu {
	opacity: 0;
}
.delivery-charge-menu-active.delivery-charge-menu-active2 .delivery-charge-menu {
	opacity: 1;
}
.min-delivery-amount {
	opacity: 0;
}
.delivery-charge-menu-active2 {
	.min-delivery-amount {
		opacity: 1;
	}
}