.wrapper-menu {
	overflow: hidden;
	min-height: 100vh;
}
.menu-columns {
	overflow: hidden;
	position: relative;
}
.menu-content-wrap {
	position: relative;
	z-index: 2;
	background: #fff;
	border-right: 1px solid #dadada;
	@media(min-width: 1241px) {
		padding-left: 50%;
	}
	@if $header-height !=  $header-height-mobile {
		@media(min-width: 768px) {
			margin-top: $header-height;
		}
		@media(max-width: 767px) {
			margin-top: $header-height-mobile;
		}
	} @else {
		margin-top: $header-height;
	}
	@media(min-width: 1561px) {
		width: 75vw;
	}
	@media(min-width: 1201px) and (max-width: 1560px){
		width: 70vw;
	}
	@media(min-width: 1001px) and (max-width: 1200px){
		width: 65vw;
	}
	@media(min-width: 768px) and (max-width: 1000px){
		width: 60vw;
	}
}
.menu-content {
	padding: 40px 30px $footer-height + 40;
	@media(min-width: 1241px) {
		margin-left: -615px;
	}
	@media(max-width: 767px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.menu-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}