@font-face {
    font-family: 'Gloriola';
    font-display: swap;
    src: url('../fonts/gloriola-regular.eot');
    src: url('../fonts/gloriola-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gloriola-regular.woff2') format('woff2'),
         url('../fonts/gloriola-regular.woff') format('woff'),
         url('../fonts/gloriola-regular.ttf') format('truetype'),
         url('../fonts/gloriola-regular.svg#gloriolaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gloriola';
    font-display: swap;
    src: url('../fonts/gloriola-bold.eot');
    src: url('../fonts/gloriola-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gloriola-bold.woff2') format('woff2'),
         url('../fonts/gloriola-bold.woff') format('woff'),
         url('../fonts/gloriola-bold.ttf') format('truetype'),
         url('../fonts/gloriola-bold.svg#gloriolaregular') format('svg');
    font-weight: 700;
    font-style: normal;

}