.btn-close-info-modal {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
.modal-tab {
	overflow: hidden;
	.nav-link {
		background: #f0f0f0;
		display: block;
		float: left;
		padding: 10px 15px;
		border: none;
		border-bottom: 4px solid transparent;
		width: 50%;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		box-shadow: none;
		outline: none;
		border-radius: 0;
		&:not(.active):hover {
			background: #e5e5e5;
		}
		&.active {
			border-bottom-color: $primary;
		}
	}
}
#info-modal {
	.tab-content > .tab-pane {
			display: none;
	}
	.tab-content > .active {
			display: block;
	}
}
#nav-info {
	.info-box-head:after {
		content: " ";
		display: block;
		clear: both;
		width: 100%;
	}
	.info-box-head h2 {
		font-size: 14px;
		margin: 0px;
		line-height: 40px;
		float: left;
		text-transform: uppercase;
	}
	.info-box-head i {
		width: 55px;
		height: 40px;
		float: left;
	}
	.info-box-content {
		margin-bottom: 10px;
	}
	.openingtimetable {
		width: 250px;
	}
	.delivery-zone {
		margin-bottom: 60px;
		.row:hover {
			background: #f5f5f5;
		}
	}
	.delivery-zone-head {
		margin-bottom: 5px;
	}
	.mob-delivery-head {
		color: #a4a4a4;
	}
	.delivery-zone-head span {
		float: left;
		color: #a4a4a4;
		font-size: 13px;
		display: table-cell;
	}
	.mob-delivery-zone {
		.row {
			border-bottom: 1px solid #efefef;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	.collection-hours-icn {
		background: url('../../images/sprite1.png');
		background-position: -153px -776px;
		background-repeat: no-repeat;
	}
	.dilivery-hours-icn {
		background: url('../../images/sprite1.png');
		background-position: -104px -776px;
		background-repeat: no-repeat;
	}
	.payment-info-icn {
		background: url('../../images/sprite1.png');
		background-position: -228px -776px;
		background-repeat: no-repeat;
	}
	.address-info-icn {
		background: url('../../images/sprite1.png');
		background-position: -295px -777px;
		width: 30px !important;
		background-repeat: no-repeat;
	}
	.delivery-zone-icn {
		background: url('../../images/sprite1.png');
		background-position: -348px -777px;
		width: 44px !important;
		background-repeat: no-repeat;
	}
}