.menu-img-top {
	position: fixed;
	top: $header-height;
	left: 0;
	width: 75vw;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding-top: $menu-img-top-height;
	background-color: #fff;
	border-right: 1px solid #dadada;
	pointer-events: none;
	+ .menu-columns .menu-content-wrap {
		margin-top: $menu-img-top-height + $header-height;
	}
}