.top-section {
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 50% 50%;
	background-size: cover;
	font-size: 0;
	letter-spacing: 0;
	color: #000000;
	padding: 211px 0 155px;
	border-bottom: 1px solid #ccc;
	position: relative;
	h2 {
		font-family: 'Zilla Slab', serif;
		font-size: 60px;
		line-height: 1.2;
		font-weight: 400;
		color: $primary;
		text-align: center;
		margin: 0 0 36px;
		b {
			font-weight: 700;
		}
	}
	p {
		font-size: 20px;
		line-height: normal;
		letter-spacing: 1px;
		margin: 0 0 27px;
	}
	> .container-index {
		position: relative;
		z-index: 2;
	}
}
.top-section-img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	img {
		display: block;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
.container-index {
	max-width: 1170px;
	padding: 0 15px;
	margin: auto;
	@media(min-width: 768px) {
		padding: 0 30px;
	}
}
.top-section-text {
	float: none;
	margin: auto;
}
.top-section-content {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-size: 14px;
}
.search-form-section {
	max-width: 550px;
	margin: auto;
	position: relative;
	.text-box {
		height: 56px;
		border-radius: 28px;
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 rgba(126, 126, 126, 0.3);
		width: 100%;
		border: 2px solid #fff;
		font-size: 14px;
		padding: 5px 60px 5px 55px;
		background-image: url(../images/pin.png);
		background-repeat: no-repeat;
		background-position: 17px 48%;
		transition: 0.2s;
		&:focus {
			border-color: #272727;
		}
	}

	.search-button {
		height: 48px;
		color: #fff;
		font-size: 14px;
		background: #272727;
		border: 1px solid #272727;
		border-radius: 100%;
		width: 48px;
		position: absolute;
		top: 4px;
		right: 4px;
		color: transparent;
		overflow: hidden;
		text-indent: -1000px;
		background-image: url(../images/button-arrow.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		&:hover {
			background-color: #000;
			border-color: #000;
			text-decoration: none;
		}
		&.active {
			background-color: #555;
			border-color: #555;
			text-decoration: none;
		}
		&:focus {
			background-color: #000;
			border-color: #000; 
			text-decoration: none;
		}
	}
}
div#listOfAreas {
	z-index: 10000; 
	position: absolute;
	left: 0;
	width: 100%;
}
.city-area-list {
	text-align: left;
	list-style: none;
	margin-left: 0;
	overflow-y: scroll;
	max-height: 300px;
	min-width: 209px;
	color: #646464;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(63, 46, 101, 0.3);
	padding: 10px;
}
.city-area-list li {
	padding: 0;
}
.city-area-list li a {
	padding: 5px;
	cursor: pointer;
	display: block;
}
.city-area-list li a:hover {
	color: #343434;
	text-decoration: none;
	display: block;
	background: rgba(63, 46, 101, 0.1);
}
.mobileapp-section {
	margin: 25px -11px;
	max-width: 412px;
	> * {
		padding: 0 11px;
	}
	img {
		max-width: 100%;
		display: block;
	}
	a {
		display: block;
		&:hover {
			opacity: 0.8;
		}
	}
}
.hashtags {
	color: #e6e21c;
	font-size: 30px;
	font-family: 'Zilla Slab';
	line-height: 1.2;
	margin-top: 95px;
	span {
		margin-right: 20px;
	}
}
.section-style2 {
	background-image: url(../images/bg-section-style-2.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	color: #272727;
	margin-top: -40px;
	h2 {
		font-size: 48px;
		line-height: 1.2;
		font-family: 'Zilla Slab';
		font-weight: 400;
		color: #272727;
		margin: 0 0 12px;
	}
	p {
		font-size: 18px;
		line-height: 24px;
	}

}
.content-section-style2 {
	padding: 70px 0 27px 450px;
	position: relative;
}
.download-app-img {
	position: absolute;
	bottom: 0;
	left: -16px;
	width: 561px;
	z-index: 2;
	img {
		display: block;
		max-width: 100%;
	}
}
.text-section-style2 {
	padding-left: 181px;
	background-image: url(../images/local.png);
	background-repeat: no-repeat;
	background-position: 0 5px;
	background-size: 161px auto;
	margin-left: -7px;
	margin-right: -20px;
}
.section-style-img {
	margin: 0 auto 32px;
	min-height: 85px;
	display: block;
	font-size: 0;
	letter-spacing: 0;
	&:after {
		content: " ";
		display: inline-block;
		vertical-align: bottom;
		height: 85px;
	}
	img {
		margin: auto;
		display: inline-block;
		vertical-align: bottom;
		max-width: 100%;
	}
}
.index-page .footer {
	margin-top: 0;
	box-shadow: none;
}
.section-blocks-wrap {
	background: #fff;
	padding: 60px 0 0px;
}
.section-blocks {
	max-width: 937px;
	margin: auto;
}
.block-style-img {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 280px;
	width: 100%;
	z-index: 1;
	> div {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		z-index: 2;
	}
	&:after {
		content: "";
		display: block;
		bottom: -15px;
		right: -15px;
		background: $primary;
		top: 0;
		left: 15px;
		position: absolute;
		z-index: 1;
	}
}
.block-style {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #272727;
	min-height: 450px;
	position: relative;
	margin: 0 auto 43px;
	padding: 310px 0 80px;
	display: block;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
	h3 {
		font-size: 48px;
		font-weight: 400;
		font-family: 'Zilla Slab';
		color: #272727;
		margin: 0 0 14px;
		line-height: normal;
	}
	p {
		margin: 0 0 20px;
	}
}


.steps {
	text-align: justify;
	font-size: 0;
	margin: 93px 0 0;
	&:after {
		content: "";
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
}
.one-step {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 230px;
	position: relative;
	p {
		font-size: 18px;
		font-family: 'Zilla Slab';
		margin: 0;
		color: #fff;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		right: -115px;
		background-image: url(../images/step-line.png);
		background-repeat: no-repeat;
		height: 28px;
		width: 153px;
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
}
.one-step-img {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px;
}
.map-search-div {
	position: relative;
}

@media (max-width: 1199px) {
	.one-step:after {
		display: none; 
	}
	.text-section-style2 {
		margin-left: 0;
		margin-right: 0;
	}
}
@media (max-width: 991px) {
	.one-step {
		width: 50%;
		margin-bottom: 40px;
	}
	.top-section h2 {
		font-size: 50px;
	}
	.steps {
		margin-top: 40px;
	}
	.content-section-style2 {
		padding-left: 0;
	}
	.mobileapp-section {
		max-width: 60%;
	}
	.download-app-img {
		right: 0;
		left: auto;
		width: 30%;
	}
	.hashtags {
		font-size: 18px;
	}
	.block-style {
		font-size: 16px;
	}
}
@media (max-width: 767px) {
	.top-section {
		padding: 160px 15px 0;
		h2 {
			font-size: 30px;
			margin-bottom: 30px;
		}
		p {
			font-size: 14px;
			margin-bottom: 10px;
		}
		.alert {
			font-size: 10px;
			padding: 6px 35px 6px 10px;
		}
	}
	.search-form-section .text-box {
		height: 42px;
		padding: 5px 50px 5px 40px;
		background-position: 15px 50%;
	}
	.search-form-section .search-button {
		height: 36px;
		width: 36px;
		top: 3px;
    	right: 3px;
	}
	.section-style {
		padding: 74px 15px;
		h2 {
			margin-bottom: 56px;
		}
	}
	.text-section-style2 {
		padding-left: 0;
		padding-bottom: 100px;
		background-position: 0 100%;
		background-size: 98px auto;
	}
	.hashtags span {
		display: block;
	}
	.mobileapp-section {
		max-width: 80%;
		width: 400px;
	}
	.download-app-img {
	    right: -15px;
	    left: auto;
	    width: 185px;
	}
	.section-style2 {
		background-size: auto 100%;
		background-position: 50% 50%;
	}
	.section-style2 h2 {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.section-style2 p {
		font-size: 13px;
	}
	.block-style {
		font-size: 12px;
		padding-bottom: 0;
	}
}
@media (max-width: 450px) {
	.top-section {
		padding-left: 0;
		padding-right: 0;
	}
	.top-section h2 {
		font-size: 20px;
	}
	.section-style2 h2 {
		font-size: 20px;
	}
	.section-style2 p br {
		display: none;
	}
	.download-app-img {
		width: 105px;
		right: -15px;
	}
}