.top-section {
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 50% 50%;
	background-size: cover;
	font-size: 0;
	letter-spacing: 0;
	color: #000000;
	border-bottom: 1px solid #ccc;
	position: relative;
	@media(min-width: 768px) {
		padding: 211px 0 155px;
	}
	@media(max-width: 767px) {
		padding: 160px 0 0;
		.alert {
			font-size: 10px;
			padding: 6px 35px 6px 10px;
		}
	}
	h2 {
		font-family: 'Zilla Slab', serif;
		line-height: 1.2;
		font-weight: 400;
		color: $primary;
		text-align: center;
		@media(min-width: 768px) {
			font-size: 60px;
			margin: 0 0 36px;
		}
		@media(max-width: 767px) and (min-width: 451px){
			font-size: 30px;
			margin: 0 0 30px;
		}
		@media(max-width: 450px) {
			font-size: 20px;
			margin: 0 0 30px;
		}
		b {
			font-weight: 700;
		}
	}
	p {
		line-height: normal;
		letter-spacing: 1px;
		@media(min-width: 768px) {
			font-size: 20px;
			margin: 0 0 27px;
		}
		@media(max-width: 767px) {
			font-size: 14px;
			margin: 0 0 10px;
		}
	}
	> .container-index {
		position: relative;
		z-index: 2;
	}
}
.index-content {
	padding-bottom: 100px;
}
.top-section-img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	img {
		display: block;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
.container-index {
	max-width: 1180px;
	padding: 0 20px;
	margin: auto;
	@media(min-width: 768px) {
		padding: 0 30px;
	}
}
.top-section-text {
	float: none;
	margin: auto;
}
.top-section-content {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-size: 14px;
}
.search-form-section {
	max-width: 550px;
	margin: auto;
	position: relative;
	.form-index-input {
		&:before {
			display: none;
		}
	}
	.form-control {
		height: 56px;
		border-radius: 28px;
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 rgba(126, 126, 126, 0.3);
		width: 100%;
		border: 2px solid #fff;
		font-size: 14px;
		padding: 5px 60px 5px 55px;
		background-image: url(../images/pin.png);
		background-repeat: no-repeat;
		background-position: 17px 48%;
		transition: 0.2s;
		&:focus {
			border-color: #272727;
		}
	}

	.form-index-btn {
		height: 48px;
		color: #fff;
		font-size: 14px;
		background: #272727;
		border: 1px solid #272727;
		border-radius: 100% !important;
		width: 48px;
		min-width: 48px;
		position: absolute;
		top: 4px;
		right: 4px;
		color: transparent;
		overflow: hidden;
		text-indent: -1000px;
		background-image: url(../images/button-arrow.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		&:hover {
			background-color: #000;
			border-color: #000;
			text-decoration: none;
		}
		&.active {
			background-color: #555;
			border-color: #555;
			text-decoration: none;
		}
		&:focus {
			background-color: #000;
			border-color: #000; 
			text-decoration: none;
		}
	}
}
.mobileapp-section {
	margin: 25px -11px;
	@media(min-width: 451px) {
		max-width: 412px;
	}
	> * {
		padding: 0 11px;
	}
	img {
		max-width: 100%;
		display: block;
	}
	a {
		display: block;
		&:hover {
			opacity: 0.8;
		}
	}
}
.hashtags {
	color: #e6e21c;
	font-size: 30px;
	font-family: 'Zilla Slab';
	line-height: 1.2;
	margin-top: 95px;
	span {
		margin-right: 20px;
		@media(max-width: 991px) {
			font-size: 18px;
		}
		@media(max-width: 767px) {
			display: block;
		}
	}
}
.section-style2 {
	color: #272727;
	margin-top: -40px;
	position: relative;
	z-index: 1;
	.container-index {
		position: relative;
		z-index: 2;
	}
	h2 {
		font-size: 48px;
		line-height: 1.2;
		font-family: 'Zilla Slab';
		font-weight: 400;
		color: #272727;
		margin: 0 0 12px;
		@media(min-width: 768px) {
			font-size: 48px;
		}
		@media(max-width: 767px) and (min-width: 451px){
			font-size: 30px;
		}
		@media(max-width: 450px) {
			font-size: 20px;
		}
	}
	p {
		font-size: 18px;
		line-height: 24px;
	}

}
.section-style2-img {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 1;
	img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.content-section-style2 {
	padding: 70px 0 27px 450px;
	position: relative;
	@media (max-width: 991px) {
		padding: 70px 0 27px;
	}
	@media (min-width: 992px) {
		padding: 70px 0 27px 450px;
	}
}
.download-app-img {
	position: absolute;
	bottom: 0;
	z-index: 2;
	@media(min-width: 992px) {
		left: -16px;
		width: 561px;
	}
	@media(max-width: 991px) and (min-width: 768px) {
		right: 0;
		width: 30%;
	}
	@media(max-width: 767px) and (min-width: 451px) {
		right: -15px;
		width: 185px;
	}
	@media(max-width: 450px) {
		width: 105px;
		right: -15px;
	}
	img {
		display: block;
		max-width: 100%;
	}
}


.text-section-style2 {
	background-image: url(../images/local.png);
	background-repeat: no-repeat;
	@media(max-width: 767px) {
		padding-bottom: 100px;
		background-position: 0 100%;
		background-size: 98px auto;
	}
	@media(min-width: 768px) {
		margin-left: -7px;
		margin-right: -30px;
		padding-left: 181px;
		background-position: 0 5px;
		background-size: 161px auto;
	}

}
.section-style-img {
	margin: 0 auto 32px;
	min-height: 85px;
	display: block;
	font-size: 0;
	letter-spacing: 0;
	&:after {
		content: " ";
		display: inline-block;
		vertical-align: bottom;
		height: 85px;
	}
	img {
		margin: auto;
		display: inline-block;
		vertical-align: bottom;
		max-width: 100%;
	}
}
.section-blocks-wrap {
	background: #fff;
	padding: 60px 0 0px;
}
.section-blocks {
	max-width: 937px;
	margin: auto;
}
.block-style-img {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 280px;
	width: 100%;
	z-index: 1;
	> div {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}
	picture {
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	img {
		height: 100%;
		display: block;
		object-fit: cover;
		width: 100%;
	}
	&:after {
		content: "";
		display: block;
		bottom: -15px;
		right: -15px;
		background: $primary;
		top: 0;
		left: 15px;
		position: absolute;
		z-index: 1;
	}
}
.block-style {
	line-height: 24px;
	text-align: center;
	color: #272727;
	min-height: 450px;
	position: relative;
	margin: 0 auto 43px;
	display: block;
	text-decoration: none;
	@media(min-width: 768px) {
		padding: 310px 0 80px;
		font-size: 18px;
	}
	@media(max-width: 767px) {
		padding-top: 310px;
		font-size: 12px;
	}
	&:hover, &:focus {
		text-decoration: none;
	}
	h3 {
		font-size: 48px;
		font-weight: 400;
		font-family: 'Zilla Slab';
		color: #272727;
		margin: 0 0 14px;
		line-height: normal;
	}
	p {
		margin: 0 0 20px;
	}

}


.steps {
	text-align: justify;
	font-size: 0;
	margin: 40px 0 0;
	min-height: 90px;
	@media (min-width: 992px) {
		margin: 93px 0 0;
	}
	&:after {
		content: "";
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
}
.one-step {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	width: 50%;
	margin-bottom: 40px;
	@media (min-width: 992px) {
		width: 230px;
		margin-bottom: 0;
	}
	p {
		font-family: 'Zilla Slab';
		margin: 0;
		color: #fff;
		@media(min-width: 768px) {
			font-size: 18px;
		}
		@media(max-width: 767px) {
			font-size: 14px;
		}
	}
	@media(min-width: 1200px) {
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 3px;
			right: -115px;
			background-image: url(../images/step-line.png);
			background-repeat: no-repeat;
			height: 28px;
			width: 153px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}
.one-step-img {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px;
}
