.search-product {
	margin-bottom: 50px;
	.form-control {
		border: none;
		border-bottom: 1px solid #d4d4d4;
		background-image: escape-svg($search-icon);
		background-repeat: no-repeat;
		background-size: 16px auto;
		font-size: 14px;
		height: 50px;
		padding-left: 43px;
		background-position: 10px 50%;
		&:focus {
			box-shadow: none;
			border-bottom: 1px solid $primary;
		}		
	}
}