.wrap-menu-scroll {
	width: 100%;
    position: relative;
    overflow: hidden; 
    .table {
        margin-bottom: 0;
    }
}
.wrap-menu-scroll._scrollbar {
    .table {
        td:last-child, th:last-child {
            border-right-width: 2px;
        }
    }
}
.wrap-menu-scroll._scrollbar .menu-scroll__track {
    display: block;
}
.wrap-menu-scroll._scrollbar .menu-scroll__bar {
    display: block;
}
.menu-scroll {
    overflow-y: scroll;
    -ms-overflow-style: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    min-height: 0 !important;
    max-height: none !important;
    -webkit-overflow-scrolling: touch;
    /* remove line to customize scrollbar in iOs */
	&::-webkit-scrollbar {
	    width: 0;
	    height: 0;
	}
}
.menu-scroll__track {
    display: none;
	position: absolute;
	bottom: 5px;
	right: 0;
    left: 0;
  	background: rgba(0, 0, 0, 0.1);
	height: 5px;
    border-radius: 3px;
	z-index: 100;
}
.menu-scroll__bar {
    display: none;
    position: absolute;
    left: 0;    
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    background: $primary; 
    opacity: 0.3;
    height: 100%;
}