// Color system
$primary: #70b741 !default;


// fonts
$font-family-main: 'Roboto' !default;
$font-family-folder: Roboto !default;
$font-weights: (
  Regular: 400,
  Bold: 700
) !default;
/*ttf, otf*/
$font-format: ttf !default;



//FOOTER
$footer-height: 176px !default;