.main-footer {
	background-color: $primary;
	color: $black;
	padding: 42px 0;
}
.list-footer {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
	column-count: 3;
	column-gap: 38px;
	float: left;
	font-size: 14px;
	font-weight: 400;
	li {
		margin-bottom: 9px;
	}
	a {
		text-decoration: none;
	}
}
.social-list {
	list-style: none;
	padding: 0;
	margin: 3px 0 22px;
	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		margin-bottom: 5px;
	}
}
.social {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	padding: 15px;
	display: block;
	background: $black;
	> div {
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
	}
}

.info-footer-block-wrap {
	> * {
		display: inline-block;
		vertical-align: top;
		padding-right: 24px;
	}
}
.info-footer-block {
	font-size: 14px;
	font-weight: 400;
	padding-left: 34px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 0 5px;
	background-size: 18px auto;
	a {
		text-decoration: none;
	}
}
.info-footer-block-email {
	background-image: url(../images/email.svg);
}
.info-footer-block-location {
	background-image: url(../images/location.svg);
}
.footer-block {
	font-size: 10px;
	line-height: 16px;
	p {
		margin-bottom: 6px;
	}
}
.logo-footer {
	width: 160px;
	display: inline-block;
	margin: 3px 0 9px;
}
@media (max-width: 991px) {
	.list-footer {
		margin: 0 0 40px;
		column-count: 3;
		column-gap: 10px;
	}
	.info-footer-block-wrap {
		margin-bottom: 30px;
	}
}