.wrapper {
	background: #F5F5F5;
	min-height: 100%;
}
.cover{
	background-image: url(../images/cover.jpg);
	background-position: 0 0;
	background-size: cover; 
	height: 100%;
	margin-top: -128px;
	padding-top: 128px;
	color: $white;
	background-attachment: fixed;
	> div{
		z-index: 1;
		position: relative;
		height: 100%;
		margin-top: -64px;
		> div{
			height: 100%;
		}
	}
	.btn{
		display: none;
	}
}
.cover:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 900px;
	background: linear-gradient(90deg, rgba(63, 47, 50, 3%), rgba(63, 47, 50, 0%));
}
.cover:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 250px;
	background: linear-gradient(180deg, rgba(63, 47, 50, 3%), rgba(63, 47, 50, 0%));
}
@media(max-width: 992px){
	.cover{
		.btn{
			display: inline-block;
		}
	}
}
@media(min-width: 576px) and (max-width: 992px){
	.cover{
		margin-top: -82px;
		padding-top: -82px;
		.btn{
			display: inline-block;
		}
	}
	.cover > div{
		margin-top: -41px;
	}
	.cover:after{
		width: 475px;
	}
	.cover:before{
		height: 150px;
	}
}
@media(max-width: 575px){
	.cover{
		margin-top: -60px;
	}
	.cover:after{
		width: 300px;
	}
	.cover:before{
		height: 100px;
	}
}
