$rem: (1 / 16) + 0rem;

$primary:       #56c0bd !default;
$secondary:       #7c7a76 !default;


$font-size-base:              1.125rem !default !default;
$font-weight-base:            300 !default;
$line-height-base:            1.6666666 !default;
$font-family-sans-serif:     "Poppins", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif !default;


$btn-font-size: 			  14 * $rem !default;
$btn-padding-y:               10 * $rem !default;
$btn-padding-x:               22 * $rem !default;
$btn-border-radius:           24 * $rem !default;

$btn-padding-y-sm:            7 * $rem !default;
$btn-padding-x-sm:            23 * $rem !default;
$btn-font-size-sm:            16 * $rem !default;
$btn-border-radius-sm:        21 * $rem !default;

$btn-padding-y-lg:            21 * $rem !default;
$btn-padding-x-lg:            42 * $rem !default;
$btn-font-size-lg:            20 * $rem !default;
$btn-border-radius-lg:        39 * $rem !default;


$btn-font-weight:             500 !default;


