.login-button {
	padding-left: 45px;
	&:after {
		content: "";
		background: url(/static/shropshiretakeaways/images/sprite.png) -299px -12px rgba(0,0,0,0);
		width: 26px;
		height: 32px;
		display: block;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -16px;
	}
}
.register-button {
	padding-left: 45px;
	&:after {
		content: "";
		background: url(/static/shropshiretakeaways/images/sprite.png) -338px -12px rgba(0,0,0,0);
		width: 26px;
		height: 32px;
		display: block;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -16px;
	}
}