// Color system
$primary: rgb(192, 22, 32) !default;

// fonts
$font-family-main: 'Fira Sans' !default;
$font-family-folder: FiraSans !default;
$font-weights: (
  Thin: 100,
  Regular: 400,
  Bold: 700
) !default;
/*ttf, otf*/
$font-format: ttf !default;





// HEADER
$header-light-bg: false !default;
$header-height: 71px !default;
$header-height-mobile: 71px !default;
$header-bg: #000 !default;
$box-shadow-header: none !default;
$border-header: 1px solid $primary !default;
$header-login-position: left !default;
$header-button-height: 50px !default;
$header-button-border-width: 1px !default;
$header-button-width: 44px !default;
$header-button-size: 16px !default;
$header-button-weight: 400 !default;
$header-button-radius: 0px !default;
$header-button-margin: 20px !default;
$header-button-hover: 0% !default;


$login-button-color: rgb(255, 239, 216) !default;
$login-button-bg: #000 !default;
$login-button-border-color: #000 !default;
$login-button-border-style: solid !default;

$register-button-color: rgb(255, 239, 216) !default;
$register-button-bg: #000 !default;
$register-button-border-color: #000 !default;
$register-button-border-style: solid !default;

$cart-header-bg: #d00 !default;