@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c2a5wg');
  src:  url('fonts/icomoon.eot?c2a5wg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c2a5wg') format('truetype'),
    url('fonts/icomoon.woff?c2a5wg') format('woff'),
    url('fonts/icomoon.svg?c2a5wg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-prev:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-logo:before {
  content: "\e904";
}
.icon-pdf:before {
  content: "\e905";
}
.icon-arrow-prew-sm:before {
  content: "\e906";
}
.icon-arrow-next-sm:before {
  content: "\e907";
}
.icon-arrow-next:before {
  content: "\e908";
}
.icon-arrow-next-sm2:before {
  content: "\e901";
}
.icon-arrow-prew-sm2:before {
  content: "\e900";
}
