/*-----------------------------
      Search Section CSS 
/*---------------------------*/
.search-section {
  width: 100%;
  min-height: 100vh;
  background-image: url(/static/shropshiretakeaways/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.search-section img {
  width: 100%;
}
.search-bg {
  position: relative;
}
.search-form-section-margin {
  margin-top: 250px;
}
.search-form-section {
  top: 50%;
  position: absolute;
  left: 15%;
  margin: -74px 0 0;
  width: 440px;
  padding: 0;
  text-align: left;
  max-width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.search-form-center {
  margin: 0;
  position: relative;
}
.search-form-section h2 {
  color: #fff;
  font-size: 58px;
  margin: 0px;
  font-family: 'Fira Sans';
  font-weight: 900;
  font-size: 72px;
}
.search-form-section h2 span {
  color: #ed2724;
}
.form-control-if {
  width: 200px;
  float: left;
  margin-right: 14px;
}
.form-control-button {
  width: 130px;
  float: left;
}
.drop-down {
  width: 210px;
  height: 55px;
  padding-left: 10px;
  color: #000;
  font-size: 20px;
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff url(/static/shropshiretakeaways/images/dd-arrow.png);
  background-repeat: no-repeat;
  background-position: 96% 23px;
  -webkit-appearance: none;
  -xhtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.exhlClass .drop-down {
  background: #fff !important;
}
.form-inline {
  position: relative;
}
.text-box {
  margin: 0;
  width: 334px;
  display: block;
  height: 69px;
  background: #000000;
  font-size: 22px;
  padding: 0;
  color: #fff;
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -xhtml-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.form-inline .text-box {
  width: 334px;
}
.text-box::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.text-box::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.text-box:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.text-box:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.text-box:focus::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
.text-box:focus::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.text-box:focus:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}
.text-box:focus:-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}
.search-button,
.search-button:hover,
.search-button:focus,
.search-button:active {
  text-align: center;
  background: #ed2724;
  width: 78px;
  height: 65px;
  color: transparent !important;
  font-size: 22px;
  text-transform: uppercase;
  background-image: url(/static/shropshiretakeaways/images/btn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: none;
  position: absolute;
  top: 2px;
  right: 30px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  outline: none;
}
.search-button:hover {
  opacity: 1;
  background-color: #c50000;
}
/*------------------------------------------------
          Register User Profile Drop Down  
/*----------------------------------------------*/
.profile-dropdown .btn {
  line-height: 36px;
  color: #fff;
}
.profile-dropdown a {
  outline: none;
}
.profile-dropdown:hover {
  background: #eb2227;
}
.profile-dropdown .btn-default {
  background: none;
  border: 0px solid #fff;
  color: #fff9f1;
  border-radius: 0px;
}
.profile-dropdown .btn-default:active,
.profile-dropdown .btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #eb2227;
  border-color: #eb2227;
  color: #ffffff;
}
.profile-dropdown .btn-default:active:hover,
.profile-dropdown .btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.profile-dropdown .btn-default:active:focus,
.profile-dropdown .btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.profile-dropdown .btn-default.focus:active,
.profile-dropdown .btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  background-color: #eb2227;
  border-color: #eb2227;
  color: #ffffff;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
}
.profile-dropdown .caret {
  color: #fff9f1 !important;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px dashed;
}
.profile-dropdown .btn-default:hover {
  background: #eb2227;
}
.profile-dropdown .dropdown-menu > li > a:hover {
  background: #eb2227;
}
.profile-dropdown .dropdown-menu {
  right: 0px;
  left: auto;
}
.profile-dropdown .btn:active,
.btn.active {
  background-image: none;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
  outline: 0 none;
}
.profile-dropdown .btn:focus,
.profile-dropdown .btn:active:focus {
  outline: thin dotted 0px;
  outline-offset: 0px;
}
/* section-padding */
.section-padding {
  padding: 104px 0;
  float: left;
  width: 100%;
  font-size: 30px;
  line-height: 1.133333;
}
.section-padding b {
  font-weight: 900;
}
.section-padding h3 {
  font-family: 'Pacifico';
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 21px;
  margin-top: 0;
}
.section-download-app {
  background: #feca47;
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 35px;
  padding-bottom: 40px;
}
.section-download-app h3 {
  color: #fff;
  font-family: 'Fira Sans';
  font-weight: 900;
  font-size: 83px;
  line-height: 83px;
  text-shadow: 0px 17px 32.3px rgba(0, 0, 0, 0.46);
  margin: 0 0 93px;
}
.section-download-app h3 span {
  display: block;
  font-size: 117px;
}
.section-download-app p {
  font-family: 'Roboto';
  font-size: 30px;
}
.block-download-app {
  max-width: 520px;
  margin: auto;
}
.download-app-img {
  position: absolute;
  width: 402px;
  left: 50%;
  top: 29px;
  margin-left: -662px;
}
.download-app-img2 {
  position: absolute;
  left: 50%;
  top: 104px;
  width: 267px;
  margin-left: 278px;
}
.section-takeaway-owner {
  background: #191718;
  background-repeat: no-repeat;
  background-position: 100% 0;
  color: #fff;
}
.section-takeaway-owner h3 {
  color: #fff;
  margin-bottom: 68px;
}
.mobile-app {
  margin: 107px auto 0;
  max-width: 500px;
}
.mobile-app a {
  padding: 0;
  float: left;
  width: 50%;
  position: relative;
}
.mobile-app a:first-child {
  left: 2%;
}
.mobile-app a:last-child {
  right: 2%;
}
.mobile-app a img {
  max-width: 100%;
}
.mobile-app a:hover {
  opacity: 0.8;
}
.get-in-touch {
  font-family: 'Pacifico';
  font-size: 41px;
  color: #ff0000;
  margin-top: 83px;
  display: inline-block;
  position: relative;
}
.get-in-touch:hover {
  color: #eb0000;
  text-decoration: none;
}
.get-in-touch:after {
  content: " ";
  border-left: 23px solid #ec1c23;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  margin: -26px 0 0 26px;
}
.copy-text {
  display: inline-block;
}
.aboutus-question {
  color: black;
  font-size: 15px;
}
.section-deliver {
  position: relative;
  background: #fff;
  padding: 30px 0 15px;
}
.section-deliver h3 {
  font-size: 53px;
  color: #ff0000;
  font-family: 'Fira Sans';
  font-weight: 900;
  margin: 0 0 20px;
  line-height: 74px;
}
.section-deliver h3 span {
  font-size: 117px;
  color: #180000;
}
.section-deliver p {
  font-size: 19px;
  line-height: 33px;
  font-family: 'Fira Sans';
  font-weight: 400;
  margin: 0 0 33px;
}
.section-deliver .deliver-p {
  color: #232323;
  font-size: 22px;
  font-style: italic;
}
.section-deliver a {
  color: #ff0000;
}
.deliver-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
}
.deliver-img img {
  width: 100%;
}
.section-zoom {
  position: relative;
  text-align: center;
}
.section-zoom .row > * {
  position: static;
  padding: 0 45px;
}
.section-zoom .container {
  width: auto;
  max-width: 1210px;
}
.zoom-logo2 {
  margin-bottom: 20px;
}
.zoom-content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 30px 0;
}
.zoom-content p {
  margin: 0 0 20px;
  font-family: 'Fira Sans';
  font-size: 19px;
  line-height: 33px;
  font-weight: 400;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.zoom-content p span {
  color: #ff0000;
}
.bg-zoom {
  background: #000;
  padding: 30px;
}
.bg-zoom p:last-child {
  margin-bottom: 0;
}
.zoom-content p.zoom-text {
  margin-top: 28px;
  margin-bottom: 18px;
}
.zoom-img {
  max-width: 100%;
}
.img-left-position {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.img-right-position {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.section-selling_delivering {
  background: #e41313;
  color: #fff;
  padding: 50px 0;
}
.section-selling_delivering h3 {
  font-size: 38px;
  line-height: 45px;
  color: #fff;
  font-family: 'Fira Sans';
  font-weight: 900;
  text-align: center;
}
.section-selling_delivering h3 span {
  color: #000;
}
.section-selling_delivering p {
  font-size: 19px;
  font-family: 'Fira Sans';
  line-height: 33px;
  margin-bottom: 20px;
}
.section-selling_delivering a {
  color: inherit;
  text-decoration: none;
}
.section-selling_delivering a:hover {
  text-decoration: underline;
}
/*body:not(.main-page) .search-bg-inside {
    height: 70px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    z-index: 1049;
}
body:not(.main-page) .search-bg-inside #home_logo {
    width: 110px;
}
*/
.containerWrapp-index {
  background: #fff;
  overflow: hidden;
}
@media (max-width: 991px) and (min-width: 768px) {
  .search-section,
  .search-bg {
    min-height: 780px;
  }
}
@media (max-width: 1300px) {
  .download-app-img {
    left: 2%;
    width: 25%;
    margin: 0;
  }
  .download-app-img img {
    width: 100%;
  }
  .download-app-img2 {
    left: auto;
    right: 2%;
    width: 20%;
    margin: 0;
  }
  .download-app-img2 img {
    width: 100%;
  }
  .block-download-app {
    max-width: 100%;
    margin: 0 18% 0 25%;
  }
}
@media (max-width: 1100px) {
  .section-download-app h3 {
    font-size: 60px;
    line-height: 60px;
  }
  .section-download-app h3 span {
    font-size: 80px;
    line-height: 80px;
  }
  .section-deliver h3 span {
    font-size: 80px;
    line-height: 80px;
  }
  .section-deliver h3 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .profile-dropdown .btn {
    font-size: 12px;
  }
  #header .myorder-button > li > a {
    line-height: 50px;
  }
  .search-form-section-margin {
    margin-top: 100px;
  }
  .search-form-section {
    left: 0;
    right: 0;
    width: auto;
  }
  .search-section {
    position: relative;
  }
  .search-section,
  .search-bg {
    min-height: 500px;
  }
  .section-padding {
    text-align: center;
  }
  .section-padding h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .section-padding {
    font-size: 16px;
  }
  .section-padding h3 {
    margin-top: 0;
  }
  .get-our-app {
    display: none;
  }
  .icns-sections {
    margin: 0 -20px;
  }
  .footer-logo {
    width: 100px;
  }
  #home_logo {
    margin-top: 10px;
    height: auto;
    width: 90px;
  }
  .mobile-nav {
    width: 230px;
  }
  .arrow-right {
    display: none;
  }
  .app-wrap {
    margin-left: 0px;
  }
  .form-control-if {
    width: 100%;
    margin-bottom: 10px;
  }
  .text-box {
    padding: 4px 20px;
    text-align: left;
    height: 55px;
    font-size: 18px;
    width: 100%;
  }
  .form-inline .text-box {
    width: 100%;
  }
  .search-button,
  .search-button:focus,
  .search-button:hover {
    right: 0;
    top: 0;
    height: 100%;
    background-size: 80% auto;
  }
  .search-btn-wrapp {
    margin: 0 auto;
    width: 100px;
    position: static;
  }
  #fluidSlider .owl-prev {
    left: 0px;
  }
  #fluidSlider .owl-next {
    right: 0px;
  }
  .search-section {
    min-height: 400px;
  }
  .search-bg {
    background: url(/static/shropshiretakeaways/images/banner.png);
    background-size: cover;
    height: 400px;
  }
  .mobileapp-bg {
    background-size: 700px 350px;
    min-height: 400px;
  }
  .work-section {
    height: 660px;
  }
  .mobileapp-section {
    height: 400px;
  }
  /*.mobileapp-section img{
		width: 130px;
		height: 40px;
	}*/
  .listing-banner {
    height: 480px;
  }
  .listing-banner .search-bg {
    background: url(/static/shropshiretakeaways/images/listing-banners.png);
    background-size: cover;
    height: 100px;
  }
  .search-form-section-margin {
    margin-top: 80px;
  }
  .listing-form-section-margin {
    margin-top: 180px;
  }
  .search-form-section {
    width: 400px;
    padding: 14px;
  }
  .header-right-section {
    float: right;
    position: absolute;
    right: 0;
    width: 160px;
  }
  .logobox {
    float: left;
    text-align: center;
    width: 100%;
  }
  .search-section img {
    width: auto;
  }
  .footer-center {
    float: none;
    left: 50%;
    margin: 0 auto 0 -115px;
    position: absolute;
    width: 230px;
  }
  .icns-sections {
    margin-top: 0;
    margin-left: 0px;
    display: inline-block;
    float: none;
  }
  .social-center {
    float: none;
    display: inline-block;
  }
  .steps-bar {
    display: none;
  }
  .work-icn-content p {
    margin-left: 0px;
  }
  .work-box {
    height: 260px;
  }
  #footer {
    padding-top: 50px;
  }
  .mobile-nav {
    margin-right: 15px;
    padding: 0;
  }
  #header .navbar-nav > li > a {
    font-size: 13px;
    margin-left: 5px;
    width: auto;
  }
  .app-banners {
    display: none;
  }
  .app-banners-mobile {
    display: block;
  }
  .homepage-banners {
    display: none;
  }
  .homepage-banners-mobile {
    display: block;
  }
  .search-form-section h2 {
    font-size: 48px;
  }
  .counter-text {
    height: 110px;
  }
  .block-download-app {
    margin: 0;
  }
  .section-download-app h3 {
    font-size: 45px;
    line-height: 45px;
    margin: 0 0 20px;
  }
  .section-deliver h3 span,
  .section-download-app h3 span {
    font-size: 60px;
    line-height: 60px;
  }
  .section-download-app p {
    font-size: 26px;
  }
  .mobile-app {
    margin-top: 30px;
  }
  .download-app-img {
    display: inline-block;
    vertical-align: middle;
    position: static;
  }
  .download-app-img2 {
    display: inline-block;
    vertical-align: middle;
    position: static;
  }
  .deliver-img {
    position: static;
    padding-top: 40%;
    width: auto;
    margin: 0 -15px;
  }
  .section-deliver h3 {
    font-size: 30px;
    line-height: 30px;
  }
  .section-deliver p {
    font-size: 16px;
    line-height: 24px;
  }
  .section-deliver .deliver-p {
    font-size: 18px;
  }
  .section-selling_delivering h3 {
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 30px;
  }
  .section-selling_delivering p {
    font-size: 16px;
    line-height: 24px;
  }
  .section-zoom .row > * {
    position: relative;
    padding: 0 15px;
  }
  .img-left-position,
  .img-right-position {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: auto;
  }
  .zoom-content img {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  #home_logo {
    margin-left: 15px;
  }
  body:not(.main-page) .search-bg-inside #home_logo {
    width: 90px;
  }
}
@media (max-width: 360px) {
  .mobile-nav {
    width: 192px;
  }
  #header .navbar-nav {
    margin: 0;
  }
  #header .navbar-nav > li > a {
    font-size: 10px;
  }
}
