.wrap-sidebar-filter {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	transition: 0.2s all linear 0s;
}
.close-sidebar-filter {
	display: inline-block;
	vertical-align: middle;
	outline: none;
	border: none;
	background: 0 0;
	opacity: 1;
	overflow: hidden;
	color: #000;
	font-size: 35px;
	text-align: center;
	display: block;
	line-height: 32px;
	z-index: 2;
	margin-top: -2px;
	font-weight: 400;
	margin-left: -3px;
}
.sidebar-filter-title {
	font-size: 16px;
	margin-bottom: 30px;
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}
.store-img-wrap-main {
	position: relative;
	margin-bottom: 28px;
}
.stores-list {
	padding: 0;
	list-style: none;
	margin: 0 -15px;
	font-size: 0;
	letter-spacing: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	li {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		position: relative;
		padding: 3px;
	}
	.status-menu {
		right: 8px;
		bottom: -16px;
		border-radius: 15px;
		position: absolute;
		z-index: 3;
		background: #82c444;
		font-size: 10px;
		color: #fff;
		height: 30px;
		line-height: 19px;
		padding: 6px 16px;
		min-width: 50px;
		white-space: nowrap;
	}
	.status-menu-close {
		background: #e13f28;
	}
	.status-menu-pre {
		background: #ecb62a;
	}
	.status-menu-offline {
		background: #888888;
	}

}
.one-store {
	font-size: 14px;
	line-height: 1.714;
	padding: 12px 12px 16px;
	border-radius: 0;
	margin-bottom: 6px;
	cursor: pointer;
	display: block;
	transition: 0.2s all;
	> * {
		position: relative;
		z-index: 2;
	}
	&:after {
		box-shadow: 0 4px 7px rgba(218, 220, 230, 0.6);
		border: 1px solid #d3d5df;
		background: #fff;
		content: "";
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		z-index: 1;
		opacity: 0;
	}
	&:hover {
		text-decoration: none;
		&:after {
			opacity: 1;
		}
		.loupe-store {
			opacity: 1;
		}
		.delivery-tooltip {
			opacity: 1;
		}
	}
	&:active {
		.loupe-store {
			opacity: 0.8;
		}
	}
	.rating-wrap {
		margin-bottom: 0;
		float: left;
	}
	.store-img-wrap {
		margin: 0 0 12px;
		padding-top: 81%;
		background-color: #eeeeee;
		background-image: url(/static/images/none.png);
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		border-radius: 0;
		> div {
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
	.store-title {
		font-size: 16px;
		line-height: 1.33;
		font-weight: 700;
		color: #545454;
		margin: 16px 0 9px 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		z-index: 2;
	}
	.rating-section {
		position: relative;
		z-index: 2;
		> * {
			display: inline-block;
			font-size: 12px;
			font-weight: 700;
			vertical-align: top;
			line-height: 15px;
		}
	}
}

.business-page {
	.sidebar-filter {
		top: 0;
		overflow: auto;
		bottom: 0 !important;
		right: -300px;
		background: #fff;
		z-index: 1000;
		padding: 40px 40px;
		width: 300px;
		transition: 0.2s all linear 0s;
		position: fixed;
	}
	.menu-nav-business-new-js {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 16px;
		> li {
			margin-bottom: 10px;
			> a {
				text-decoration: none;
				display: block;
				position: relative;
				padding-left: 32px;
				&:before {
					content: "";
					height: 22px;
					width: 22px;
					position: absolute;
					top: 1px;
					left: 0;
					background-image: escape-svg($form-check-input-circle);
					background-size: 22px auto;
					background-repeat: no-repeat;
					background-position: 0 0;
				}
				&.click {
					&:before {
						background-image: escape-svg($form-check-radio-checked-bg-image), escape-svg($form-check-input-circle);
						background-size: 22px auto, 22px auto;
						background-repeat: no-repeat, no-repeat;
						background-position: 0 0, 0 0;
					}
				}
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 10px 0 30px 30px;
			> li {
				margin-bottom: 2px;
				> a {
					text-decoration: none;
					display: block;
					position: relative;
					padding-left: 32px;
					&:before {
						content: "";
						height: 22px;
						width: 22px;
						position: absolute;
						top: 4px;
						left: 0;
						background-image: escape-svg($form-check-input-square);
						background-size: 18px auto;
						background-repeat: no-repeat;
						background-position: 0 0;
					}
					&.click {
						&:before {
							background-image: escape-svg($form-check-input-checked-bg-image), escape-svg($form-check-input-square);
							background-size: 27px auto, 18px auto;
							background-repeat: no-repeat, no-repeat;
							background-position: -1px -5px, 0 0;
						}
					}
				}
			}
		}
	
	}

	.one-product2 .product-img-wrap {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}
	.one-product2 {
		padding: 20px;
		margin-bottom: 0px;
	}
	.products-list2 li {
		padding: 0;
	}
	.one-product2:after {
		left: 5px;
		right: 5px;
		bottom: 5px;
		top: 5px;
		border: 1px solid transparent;
		box-shadow: none;
	}
	.one-product2:hover {
		z-index: 2;
		position: relative;
	}
	.one-product2:hover:after {
		border-color: #d3d5df;
   		box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
	}
}
.no-sidebar-business-page {
	.sidebar-filter {
		display: none !important;
	}
	.filter-button-sidebar {
		display: none !important;
	}
}
.filter-button-sidebar {
	display: none;
	text-align: right;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dedede;
	a {
		display: inline-block;
		text-decoration: none;
		font-size: 16px;
	}
	.icon {
		color: $primary;
		border-radius: 100%;
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		text-align: center;
		font-size: 18px;
		margin-top: 3px;
	}
}
.business-page .filter-button-sidebar {
	display: block;
}
.sidebar-filter-active {
	.sidebar-filter {
		right: 0px;
	}
}
#loadingDiv {
	img {
		display: block;
		margin: auto;
	}
}