@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-Italic.eot');
	src: url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
		 url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
		 url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
		 url('../fonts/Poppins/Poppins-Regular.svg#Poppinsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-Italic.eot');
	src: url('../fonts/Poppins/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
		 url('../fonts/Poppins/Poppins-Italic.woff') format('woff'),
		 url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype'),
		 url('../fonts/Poppins/Poppins-Italic.svg#PoppinsItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-Light.eot');
	src: url('../fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
	url('../fonts/Poppins/Poppins-Light.woff') format('woff'),
	url('../fonts/Poppins/Poppins-Light.ttf') format('truetype'),
	url('../fonts/Poppins/Poppins-Light.svg#PoppinsLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-LightItalic.eot');
	src: url('../fonts/Poppins/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Poppins/Poppins-LightItalic.woff2') format('woff2'),
	url('../fonts/Poppins/Poppins-LightItalic.woff') format('woff'),
	url('../fonts/Poppins/Poppins-LightItalic.ttf') format('truetype'),
	url('../fonts/Poppins/Poppins-LightItalic.svg#PoppinsLightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-Medium.eot');
	src: url('../fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
	url('../fonts/Poppins/Poppins-Medium.woff') format('woff'),
	url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
	url('../fonts/Poppins/Poppins-Medium.svg#Poppinsmedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-MediumItalic.eot');
	src: url('../fonts/Poppins/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
	url('../fonts/Poppins/Poppins-MediumItalic.woff') format('woff'),
	url('../fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype'),
	url('../fonts/Poppins/Poppins-MediumItalic.svg#PoppinsmediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-SemiBold.eot');
	src: url('../fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
	url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
	url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
	url('../fonts/Poppins/Poppins-SemiBold.svg#Poppinssemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-SemiBoldItalic.eot');
	src: url('../fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
	url('../fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff'),
	url('../fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
	url('../fonts/Poppins/Poppins-SemiBoldItalic.svg#PoppinssemiboldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-Bold.eot');
	src: url('../fonts/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
		 url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
		 url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
		 url('../fonts/Poppins/Poppins-Bold.svg#Poppinsbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url('../fonts/Poppins/Poppins-BoldItalic.eot');
	src: url('../fonts/Poppins/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
		 url('../fonts/Poppins/Poppins-BoldItalic.woff') format('woff'),
		 url('../fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype'),
		 url('../fonts/Poppins/Poppins-BoldItalic.svg#PoppinsboldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}