.top-section {
	height: 100%;
	min-height: 560px;
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 50% 50%;
	background-size: cover;
	font-size: 0;
	letter-spacing: 0;
	color: #000000;
	> .container {
		height: 100%;
		> .row {
			height: 100%;
			> * {
				height: 100%;
				&:after {
					content: " ";
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}
			}
		}
	}
	h2 {
		font-size: 62px;
		font-weight: 700;
		color: #fff;
		line-height: normal;
		text-align: center;
		.margin3(0, 0, 50px);
		font-family: 'Montserrat';
	}
	p {
		font-size: 20px;
		line-height: normal;
		letter-spacing: 1px;
		.margin3(0, 0, 27px);
	}
}
.top-section-text {
	float: none;
	margin: auto;
}
#citylist, .listOfAreas {
    float: left;
}
.drop-down{ 
	width:224px; 
	height:55px;
	padding-left:10px;
	color:#000; 
	font-size:20px;
	border:1px solid #eee;
	background:#fff url(/static/hifood_pk/images/dd-arrow.png);
	background-repeat:no-repeat;
	background-position:96% 23px;
	-webkit-appearance: none;
	 -xhtml-appearance: none;
	    -ms-appearance: none;
       -moz-appearance: none;
            appearance: none;
	            outline:none;
}
.exhlClass .drop-down{ background:#fff !important;}
@media (min-width: 1025px) {
	.top-section {
		background-attachment: fixed;
	}
}
.top-section-content {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	font-size: 14px;
}
.search-form-section {
	max-width: 670px;
	margin: auto;
	position: relative;
	.text-box {
		height: 56px;
		border-radius: 28px;
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 rgba(126, 126, 126, 0.3);
		width: 100%;
		border: 2px solid #fff;
		font-size: 14px;
		padding: 5px 231px 5px 64px;
		background-image: url(../images/combined-shape.png);
		background-repeat: no-repeat;
		background-position: 20px 50%;
		.transition(0.2s);
		font-family: 'Karla', sans-serif;
		&:focus {
			border-color: @main-color;
		}
	}

	.search-button {
		height: 56px;
		color: #fff;
		font-size: 14px;
		background: @main-color;
		border: 1px solid @main-color;
		border-radius: 0 28px 28px 0;
		width: 221px;
		position: absolute;
		bottom: 0;
		right: 0;
		color: #fff;
		overflow: hidden;
		background-image: url(../images/search-icn.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		font-family: 'Karla', sans-serif;
		font-weight: 700;
		&:hover {
			background-color: @main-color - 20%;
			border-color: @main-color - 20%;
			text-decoration: none;
		}
		&.active {
			background-color: @main-color - 10%;
			border-color: @main-color - 10%;
			text-decoration: none;
		}
		&:focus {
			background-color: @main-color - 20%;
			border-color: @main-color - 20%; 
			text-decoration: none;
		}
	}
}
div#listOfAreas {
	z-index: 10000; 
	position: absolute;
	.left( 0 );
	width: 100%;
}
.city-area-list {
	.text-align(left);
	list-style: none;
	.margin-left( 0 );
	overflow-y: scroll;
	max-height: 300px;
	min-width: 209px;
	color: #646464;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(63, 46, 101, 0.3);
	.padding1( 10px );
}
.city-area-list li {
	.padding1( 0 );
}
.city-area-list li a {
	.padding1( 5px );
	cursor: pointer;
	display: block;
}
.city-area-list li a:hover {
	color: @btn-color-header;
	text-decoration: none;
	display: block;
	background: rgba(63, 46, 101, 0.1);
}
.mobileapp-section {
	.margin3(44px, -11px, 0);
	max-width: 435px;
	> * {
		.padding2(0, 11px);
	}
	img {
		max-width: 100%;
		display: block;
	}
	a {
		display: block;
		&:hover {
			opacity: 0.8;
		}
	}
}

.section-style-img {
	.margin3(0, auto, 32px);
	min-height: 85px;
	display: block;
	font-size: 0;
	letter-spacing: 0;
	&:after {
		content: " ";
		display: inline-block;
		vertical-align: bottom;
		height: 85px;
	}
	img {
		.margin1(auto);
		display: inline-block;
		vertical-align: bottom;
		max-width: 100%;
	}
}
.section-style {
	background-color: #fafafa;
	background-image: url(../images/bg1.jpg), url(../images/bg2.jpg);
	background-repeat: no-repeat, no-repeat;
	background-size: 100% auto, 100% auto;
	background-position: 0 0, 0 100%;
	color: #000;
	line-height: normal;
	font-size: 20px;
	line-height: 1.6;
	font-family: 'Karla', sans-serif;
	.padding3(340px, 0, 310px);
	h2 {
		font-size: 32px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		line-height: normal;
		color: #000;
		letter-spacing: 0.063em;
		.margin3(0, 0, 21px);
	}
	p {
		letter-spacing: 0.008em;
		.margin-bottom(23px);
	}
}
.download-app-img {
	display: block;
	.margin3(-224px, -110px, -218px);
	position: relative;
	z-index: 2;
	img {
		display: block;
		margin: auto;
		max-width: 100%;
	}
}
.index-page .footer {
	.margin-top(0);
	box-shadow: none;
}
.section-blocks-wrap {
	background: #fff;
	overflow: hidden;
	.padding3(112px, 0, 0);
}
.block-style-img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 48.026%;
	z-index: 1;
	border-radius: 3px 0 0 3px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.block-style {
	font-size: 0;
	line-height: normal;
	color: #fff;
	background-color: #fafafa;
	background-size: cover;
	background-position: 50% 50%;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.09);
	position: relative;
	width: 50%;
	float: left;
	text-align: center;
	h3 {
		font-size: 24px;
		font-weight: 700;
		color: #fff;
		.margin3(0, 0, 48px);
		line-height: normal;
	}
	p {
		.margin3(0, 0, 20px);
	}
	&:after {
		content: " ";
		display: inline-block;
		padding-top: 72%;
		vertical-align: middle;
	}
}
.block-style-inline {
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	padding: 60px 30px;
	max-width: 600px;
	width: 100%;
}
.btn-style {
	border: 1px solid #f26844;
	background: #f26844;
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	line-height: 20px;
	padding: 14px 10px;
	text-align: center;
	min-width: 172px;
	max-width: 100%;
	margin: 85px auto 0;
	position: relative;
	border-radius: 25px;
	.transition(0.2s);
	&:focus {
		background: #f26844 - 5%;
		text-decoration: none;
	}
	&:hover {
		background: #f26844 - 20%;
		text-decoration: none;
	}
	&:active {
		background: #f26844 - 10%;
		text-decoration: none;
	}
}
.services-text {
	color: #000;
	line-height: normal;
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Karla', sans-serif;
	.padding3(0, 0, 37px);
	h2 {
		font-size: 32px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		line-height: normal;
		color: #000;
		letter-spacing: 0.063em;
		.margin3(0, 0, 17px);
	}
	p {
		letter-spacing: 0.008em;
		.margin-bottom(23px);
	}
}
.section-services {
	background: #fff;
	padding: 120px 0 25px;
}
.one-service {
	border-radius: 7px;
	color: #fff;
	background: #f8a619;
	text-align: center;
	padding: 20px 10px;
	font-size: 11.72px;
	font-family: 'Karla', sans-serif;
	line-height: 1.28;
	margin-bottom: 15px;
	h3 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 13.42px;
		margin: 0 0 10px;
	}
	img {
		display: block;
		margin: 0 auto 18px;
	}
}
.one-service-text {
	min-height: 78px;
}


@media (max-width: 1199px) {
	.download-app-img {
    	margin: -150px -38px;
	}
}
@media (max-width: 767px) {
	.top-section {
		min-height: 460px;
		.padding3(80px, 15px, 0);
		h2 {
			font-size: 22px;
			.margin-bottom(50px);
		}
		p {
			font-size: 14px;
			.margin-bottom(10px);
		}
		.alert {
			font-size: 10px;
			.padding(6px, 35px, 6px, 10px);
		}
	}
	.search-form-section .text-box {
		height: 42px;
		padding: 5px 50px 5px 40px;
		background-position: 7px 50%;
	}
	.search-form-section .search-button {
		height: 42px;
		width: 80px;
	}
	.section-blocks-wrap {
		padding: 60px 0 0;
	}
	.block-style-img {
		width: 100%;
		height: auto;
		padding-top: 50%;
		position: static;
		display: block;
		margin-bottom: 15px;
	}
	.block-style {
		padding: 15px;
	}
	.download-app-img {
		display: none;
	}
	.section-style {
		.padding2(74px, 15px);
		h2 {
			.margin-bottom(56px);
		}
	}
	.section-blocks {
		.padding2(0, 15px);
	}
	.block-style {
		float: none;
		width: auto;
	}
	.block-style .btn {
		width: 100%;
	}
	.btn-style {
		margin-top: 15px;
	}
	.section-services {
		padding-top: 50px;
	}
}
// drop-down-wrap-select

.drop-down-wrap-select {
  position: relative;
  float: left;
  .drop-down {
    padding: 10px 25px 10px 10px;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .drop-down-select {
    position: absolute;
    top: 100%;
    left: -50px;
    right: -50px;
    background: #fff;
    padding: 15px;
    z-index: 20;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    display: none;
    .form-control {
      width: 100%;
    }
  }
  #listOfAreas {
    position: static;
    padding: 10px 0 0;
    margin: 0;
  }
  .city-area-list {
    padding: 0;
    min-width: 10px;
    box-shadow: none;	
  }
}
@media (max-width: 767px) {
  .drop-down-wrap-select {
    float: none;
  }
  .drop-down-wrap-select .drop-down-select {
    left: 0;
    right: 0;
  }
  .drop-down {
  	width: 100%;
  }
  #citylist, .listOfAreas {
  	float: none;
  	width: 100%;
  }
  .search-form-section .search-button {
  	position: static;
  	width: 100%;
  	border-radius: 0;
  }
}