// Color system
$primary: #82c444 !default;


// fonts
$font-family-main: 'Nunito' !default;
$font-family-folder: Nunito !default;
$font-weights: (
  Regular: 400,
  SemiBold: 600,
  Bold: 700
) !default;
/*ttf, otf*/
$font-format: ttf !default;


// Body
//
// Settings for the `<body>` element.

$body-bg:                   #f5f5f5 !default;
$body-color:                #343434 !default;
$body-text-align:           null !default;


$font-size-base:            0.8125rem !default; // 13px
$font-family-sans-serif:	$font-family-main, Helvetica, Arial, sans-serif !default;
$headings-font-weight:      400 !default;


// Links
//
// Style anchor elements.
$link-color:                              inherit !default;
$link-decoration:                         none !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   underline !default;

// HR
$hr-margin-y:                 1.25rem !default;
$hr-color:                    #888 !default;

// Modals
$modal-backdrop-bg:                 rgba(0, 0, 0, 0.5) !default;
$modal-sm:                          400px !default;
$modal-lg:                          770px !default;
$modal-content-border-width:        0px !default;
$modal-content-border-radius:       0 !default;
$modal-inner-padding:               1.25rem 1.875rem !default;
    
$modal-footer-border-color:         #dedede !default;
$modal-footer-border-width:         1px !default;
$modal-header-padding:            	1.875rem 1rem 0 !default;



// Forms
$input-border-color: 				#ccc !default;
$input-border-radius: 				0 !default;
$form-select-border-radius:       	0 !default;
$input-line-height:  				2 !default;

$input-focus-border-color: 			#fff !default;
$input-focus-box-shadow: 			0 0 4px rgba(0, 0, 0, 0.3) !default;
$form-select-focus-box-shadow:      0 0 4px rgba(0, 0, 0, 0.3) !default;
$form-label-font-weight:            700 !default;




// Buttons
$btn-font-size:                    	16px !default;
$btn-line-height:                   26px !default;
$btn-border-radius:					0px !default;
$btn-focus-width: 					0px  !default;


// Close
$btn-close-opacity:          1.0 !default;
$btn-close-hover-opacity:    .75 !default;
$btn-close-focus-shadow:     none !default;

// Form
$form-check-padding-start:                28px !default;
$form-check-input-checked-color:          #ff772c !default;
$form-check-input-border-color: 			#aaa !default;
$form-check-input-square:       			url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'><rect x = '0.5' y = '0.5' width = '17' height = '17' fill='transparent' stroke='#{$form-check-input-border-color}' stroke-width = '0.5'/></svg>") !default;

$form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'><circle cx='11' cy='11' r='6.5' fill='#{$form-check-input-checked-color}'/></svg>") !default;
$form-check-input-circle:       			url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'><circle cx='11' cy='11' r='10.5' stroke-width='0.7' fill='transparent' stroke='#{$form-check-input-border-color}'/></svg>") !default;


// Alerts
$alert-border-radius:               0 !default;


// Dropdown
$dropdown-border-radius:            0 !default;



// Input Index
$form-index-icon:       			url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 17'><path fill='#{$primary}' fill-rule='evenodd' d='M6.5 0C2.91 0 0 2.878 0 6.43 0 9.98 6.5 17 6.5 17S13 9.98 13 6.429C13 2.879 10.09 0 6.5 0zm0 10.053c-2.145 0-3.882-1.719-3.882-3.84 0-2.12 1.737-3.84 3.882-3.84s3.882 1.72 3.882 3.84c0 2.121-1.737 3.84-3.882 3.84zm2.585-3.857c0-1.411-1.158-2.556-2.585-2.556S3.915 4.785 3.915 6.196c0 1.413 1.158 2.556 2.585 2.556S9.085 7.61 9.085 6.196z'/></svg>") !default;



// HEADER
$header-height: 71px !default;


//MENU
$menu-img-top-height: 350px !default;
$cart-empty:       					url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4886 4900'><g transform='translate(0.000000,4900.000000) scale(0.100000,-0.100000)' fill='#9d9d9d' stroke='none'><path d='M0 47470 l0 -1530 3838 0 3837 0 1129 -4248 c621 -2336 1131 -4253 1134 -4259 3 -10 -531 -13 -2652 -13 -1461 0 -2656 -3 -2656 -7 0 -5 1389 -5229 3087 -11610 l3088 -11603 15940 0 15940 0 3085 11591 c1697 6375 3086 11599 3088 11610 3 19 -198 19 -17870 19 l-17873 0 -1540 5788 -1540 5787 -5018 3 -5017 2 0 -1530z m44855 -13197 c-32 -116 -4512 -16950 -4520 -16985 l-7 -28 -13582 0 -13582 0 -2244 8428 c-1234 4635 -2258 8482 -2276 8550 l-33 122 18134 0 18134 0 -24 -87z'/><path d='M16221 11769 c-1032 -74 -2037 -417 -2896 -987 -666 -443 -1238 -1018 -1678 -1688 -465 -707 -776 -1525 -896 -2354 -47 -320 -56 -459 -55 -855 0 -396 9 -540 55 -850 125 -851 446 -1684 925 -2396 581 -865 1354 -1543 2294 -2013 711 -355 1433 -552 2254 -616 166 -13 691 -13 866 0 1289 95 2473 576 3460 1408 166 140 548 523 690 692 1105 1314 1578 2999 1315 4690 -91 588 -270 1146 -541 1690 -289 578 -615 1035 -1064 1494 -591 603 -1260 1051 -2037 1365 -583 235 -1184 372 -1843 421 -157 12 -683 11 -849 -1z m819 -3074 c342 -47 610 -130 925 -285 187 -92 352 -195 515 -320 122 -94 386 -358 480 -480 504 -654 699 -1436 554 -2226 -173 -946 -858 -1762 -1779 -2121 -334 -130 -636 -190 -1005 -200 -484 -12 -915 80 -1347 287 -896 430 -1493 1257 -1614 2235 -16 129 -16 481 0 610 39 320 123 604 260 890 392 815 1156 1400 2061 1579 109 22 182 32 365 50 87 9 476 -4 585 -19z'/><path d='M36315 11769 c-1433 -108 -2744 -696 -3754 -1684 -1361 -1330 -1985 -3167 -1715 -5050 150 -1055 605 -2062 1314 -2916 136 -162 539 -565 710 -709 783 -658 1698 -1099 2695 -1299 378 -76 640 -102 1086 -108 466 -7 722 11 1116 77 980 165 1914 577 2693 1189 711 559 1263 1237 1661 2044 316 640 502 1298 576 2037 24 243 24 844 0 1080 -77 743 -252 1369 -561 2005 -529 1090 -1372 1983 -2436 2582 -770 434 -1621 687 -2535 753 -162 12 -689 11 -850 -1z m825 -3074 c1045 -144 1923 -816 2315 -1774 133 -326 198 -665 198 -1036 0 -439 -88 -816 -282 -1210 -314 -635 -830 -1118 -1494 -1394 -542 -225 -1179 -281 -1762 -153 -496 109 -974 357 -1346 699 -524 480 -838 1105 -910 1808 -15 151 -6 501 16 645 77 495 263 926 575 1330 94 122 358 386 480 480 461 356 977 560 1565 620 126 12 508 4 645 -15z'/></g></svg>") !default;
$cart-btn-icon:       				url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1956 1960'><g transform='translate(0,1960) scale(0.1,-0.1)' fill='#ffffff' stroke='none'><path d='M0 18985 l0 -615 1538 0 1538 0 448 -1687 c247 -929 451 -1694 454 -1700 3 -10 -213 -13 -1058 -13 l-1062 0 6 -32 c4 -18 559 -2107 1234 -4643 l1227 -4610 6380 -3 6380 -2 1236 4642 1236 4643 -7151 5 -7150 5 -616 2313 -615 2312 -2012 0 -2013 0 0 -615z m15303 -5241 c1456 -3 2647 -8 2647 -13 0 -4 -403 -1520 -895 -3369 -492 -1848 -900 -3381 -906 -3406 l-11 -45 -1867 -6 c-2362 -8 -4588 -8 -7056 0 l-1940 7 -903 3391 c-496 1866 -905 3402 -908 3415 l-6 22 2798 1 c1540 1 2837 4 2884 9 47 4 857 6 1800 4 943 -2 2906 -6 4363 -10z'/><path d='M10110 11945 l0 -1025 -1045 0 -1045 0 0 -575 0 -575 1045 0 1045 0 0 -1045 0 -1045 575 0 575 0 0 1045 0 1045 1025 0 1025 0 0 575 0 575 -1025 0 -1025 0 0 1025 0 1025 -575 0 -575 0 0 -1025z'/><path d='M6475 4709 c-959 -79 -1779 -717 -2075 -1617 -271 -824 -70 -1724 527 -2352 353 -372 811 -616 1333 -712 144 -26 524 -37 682 -19 970 111 1780 795 2033 1717 65 235 79 350 80 624 0 262 -11 360 -61 565 -58 236 -180 519 -311 720 -284 434 -732 782 -1220 949 -310 106 -671 152 -988 125z m468 -1258 c332 -79 615 -301 767 -601 215 -428 132 -936 -211 -1278 -102 -101 -198 -168 -332 -232 -153 -73 -270 -101 -452 -107 -223 -8 -390 28 -579 125 -415 212 -665 659 -617 1103 27 255 129 473 305 657 109 113 189 172 331 243 246 121 522 153 788 90z'/><path d='M14575 4714 c-615 -47 -1125 -270 -1539 -673 -212 -207 -343 -388 -474 -651 -111 -223 -176 -427 -219 -685 -28 -172 -25 -556 5 -728 93 -521 318 -948 689 -1308 353 -342 780 -557 1288 -646 126 -22 616 -26 735 -5 275 47 481 112 705 221 637 311 1091 865 1261 1537 257 1016 -183 2069 -1089 2606 -278 165 -609 277 -932 317 -93 11 -357 21 -430 15z m428 -1268 c110 -28 272 -101 368 -166 77 -53 207 -176 264 -250 335 -439 303 -1034 -77 -1436 -174 -184 -395 -302 -653 -350 -134 -24 -356 -15 -490 20 -118 32 -276 105 -378 175 -351 243 -539 675 -472 1087 107 660 777 1089 1438 920z'/></g></svg>") !default;
$search-icon:       				url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451 451'><g><path d='M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z' fill='#545454'/></g></svg>") !default;


//FOOTER
$footer-height: 94px !default;