b {
	font-weight: 600;
}
strong {
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: inherit;
	font-weight: 500;
	margin-bottom: 35px;
}
.title-lg{
	font-family: SF Pro Display;
	font-weight: 500;
	font-size: 77px;
	line-height: 100%;
	color: #FFFFFF;
}
.text-thin{
	font-weight: 100;
}
.text-large-thin{
	font-weight: 100;
	font-size: 26px;
	line-height: 140%;
}
.text-lg{
	font-weight: 400;
	font-size: 26px;
	line-height: 140%;
	margin: 10px 0 30px;
}
h2.title-style{
	font-weight: 500;
	font-size: 48px;
	line-height: 110%;
}
h3.title-style{
	font-weight: 400;
	font-size: 30px;
	line-height: 130%;
}
h4.title-style{
	font-weight: 400;
	font-size: 18px;
    line-height: 130%;
}
p, ul, ol {
	margin-bottom: 25px;
}
a{
	text-decoration: none;
	position: relative;
	border-bottom: 1px solid #606060;
	transition: 0.2s all 0s;
}
a:hover{
	border-bottom-color: transparent;
}
.number-block{
	display: inline-block;
	width: 100%;
	position: relative;
	&:after{
		content: "";
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $primary;
	}
}
.number{
	display: inline-flex;
	font-weight: 400;
	font-weight: normal;
    font-size: 66px;
	line-height: 130%;
}
.text-number{
	display: inline-block;
	margin-left: 6px;
	font-weight: 300;
}
.extent{
	position: absolute;
	top: 13px;
	left: auto;
}
.document{
	display: block;
	border-bottom: 1px solid transparent;
	min-height: 50px;
	 transition: 0.2s all 0s;
	.icon-pdf{
		float: left;
		width: 44px;
		margin-top: -6px;
		font-size: 48px;
	}
	p{
		margin-left: 65px;
	}
}
.document:hover{
	border-bottom-color: $primary;
}
.more{
	display: inline-block;
	position: relative;
}
.more:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background: #181818;
	
}
.more:hover:after{
	background: transparent;
}
@media(min-width: 992px) and (max-width: 1200px) {
	.number{
		font-size: 44px;
	}
	.extent{
		top: 2px;
	}
}
@media(max-width: 992px){
	.text-lg{
		font-size: 18px;
		margin: 3px 0 15px;
	}
	.number{
		font-size: 30px;
	}
	.text-number{
		font-size: 14px;
		> span{
			display: none;
			text-transform: capitalize;
		}
	}
	.extent{
		top: 2px;
		font-size: 10px;
		margin-left: 1px;
	}
	.text-large-thin{
		font-size: 18px;
	}
}
@media(min-width: 576px) and (max-width: 992px){
	
	h2.title-style{
		font-size: 34px;
	}
	h3.title-style{
		font-size: 21px;
		margin-bottom: 20px;
	}
	.title-lg{
		font-size: 54px;
		margin-bottom: 17px;
	}
}
@media(max-width: 575px){
	.title-lg{
		font-size: 32px;
		margin-bottom: 20px;
	}
	h2.title-style{
		font-size: 24px;
	}
	.number-block:after{
		display: none;
	}
	.text-number{
		margin-left: 0;
	}
	.number-block{
		width: auto;
	}
	.text-number{
		border-top: 1px solid #181818;
		display: block;
	}
}