.order-review {
	text-align: center;
	.ratings{
		list-style: none;
		padding: 0px;
	}
	.ratings li {
		border-bottom: 1px solid #dfdfdf;
		padding-top: 20px;
		float:left;
		width:100%;
		word-wrap: break-word;
	}
	.ratings li div.name {
		margin-left: 20px;
		font-size: 10pt;
		font-weight: 700;
		width: 73%;
		float:left;
		word-wrap: break-word;
	}
	.ratings li div.comment {
		margin: 10px 20px 20px;
	}
	.review-list {
		margin-bottom: 16px;
		box-shadow: 0 0 0 1px #eaeaea;
	}
	.rating-section {
		padding-left: 15px;
	}
	.reviews-header {
		padding: 20px 20px 10px;
	}
	.overall-review h2{
		text-align: center;
		color: #333;
		font-size: 26px;
		font-weight: 300;
	}
	.overall-review {
		margin-left: 8px;
		margin-right: 8px;
	}
	.overall-review {
		width: 244px;
		margin: auto;
	}
	.review-value {
		font-size: x-large;
		line-height: 44px;
	}
	.order-review {
		margin: 20px 0px 20px 0px;
		text-align: center;
	}
	.branch-name {   
		font-weight: 600;
		font-size: xx-large;
		color: #2c2525;
		margin-bottom: 20px;
	}
	.rating-center {
		margin: auto;
	}
	.review-form {
		box-shadow: 0 0 0 1px #cbcbcb;
		padding: 10px 15px;
		margin-bottom: 40px;
	}
	.review-form  .review-button {
		width: 100%;
	}
	#loadingDiv {
		text-align: center;
	}
	span#headerTotalReviewCount {
		font-size: 16px;
		color: #444444;
	}
	.top-buttons {
		margin-bottom:40px;
	}
	.review-date {
		float: right;
	}
}
