.footer {
	background: #f1ece9;
	font-weight: 400;
	overflow: hidden;
	padding: 63 * $rem 0;
	&-content {
		float: left;
		width: 50%;
		font-size: 14 * $rem;
		font-weight: 400;
		line-height: 24 * $rem;
		color: #7c7a76;
	}
	&-links {
		float: left;
		margin-left: 102 * $rem;
		h6 {
			font-size: 18 * $rem;
			font-weight: 600;
			color: #383734;
			margin: 0 0 20 * $rem;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 20 * $rem;
			font-size: 16 * $rem;
			line-height: 1;
			color: #7c7a76;
		}
		li {
			margin-bottom: 8 * $rem;
		}
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: $primary;
			}
		}
	}
	&-social {
		float: right;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-left: 29 * $rem;
			float: left;
		}
	}
	&-logo {
		display: inline-block;
		margin-bottom: 17 * $rem;
		vertical-align: top;
	}
	&-top {
		position: fixed;
		bottom: 30 * $rem;
		right: 30 * $rem;
		z-index: 1000;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
}

@media(max-width: 1400px) and (min-width: 768px) {
	.footer-content {
		width: 40%;
	}
}
@media(max-width: 1000px) and (min-width: 768px) {
	.footer-links {
		margin-left: 50 * $rem;
	}
	.footer-social li {
		margin-left: 10 * $rem;
	}
}
@media(max-width: 767px) {
	.footer {
		padding-bottom: 120px;
	}
	.footer-top {
		right: 20 * $rem;
		bottom: 0;
	}
	.footer-content {
		width: 100%;
		margin-bottom: 30 * $rem;
	}
	.footer-links {
		width: 100%;
		margin-left: 0;
		ul {
			float: left;
		}
		picture {
			float: right;
			margin-top: -30 * $rem;
		}
	}
	.footer-social {
		float: left;
	}
	.footer-social li {
		margin-left: 0;
		margin-right: 25 * $rem;
	}
}
