@media(max-width: 359px) {
	html {
		font-size: 12px;
	}
}
@media(max-width: 479px) and (min-width: 360px) {
	html {
		font-size: 14px;
	}
}
.header {
	background: #f7f3f1;
	border-bottom: 1px solid #e6e2e0;
	position: fixed;
	top: 0;
	height: 106 * $rem;
	left: 0;
	width: 100%;
	z-index: 1001;
	&-logo {
		float: left;
		margin: 30 * $rem 0 0 34 * $rem;
		picture {
			display: block;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&-menu-content {
		float: right;
	}
	&-buttons {
		float: right;
	}
	&-nav {
		float: left;
		margin-top: 40 * $rem;
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		li {
			float: left;
			margin-left: 48 * $rem;
		}
		a {
			font-size: 16 * $rem;
			font-weight: 400;
			color: #7c7a76;
			text-decoration: none;
			&:hover {
				color: $primary;
			}
		}
	}
	&-buttons {
		margin-top: 33 * $rem;
		margin-right: 27 * $rem;
		margin-left: 45 * $rem;
		.btn {
			margin-left: 20 * $rem;
		}
	}
}
@media(max-width: 1220px) and (min-width: 768px) {
	.header-nav li {
		margin-left: 16 * $rem;
	}
	.header-buttons {
		margin-left: 25 * $rem;
	}
	.header-buttons .btn {
		margin-left: 5 * $rem;
	}
}
@media(max-width: 1000px) and (min-width: 768px) {
	.header {
		height: 72 * $rem;
	}
	.header-logo {
		margin: 20 * $rem 0 0 20 * $rem;
		width: 150 * $rem;
	}
	.header-nav {
		margin-top: 18 * $rem;
	}
	.header-buttons .btn {
		font-size: 10 * $rem;
	}
	.header-buttons .btn-login svg {
		width: 13 * $rem;
	}
	.header-buttons .btn-arrow:after {
		width: 10 * $rem;
	}
	.header-nav a {
		font-size: 12 * $rem;
	}
	.header-buttons {
		margin-top: 20 * $rem;
		margin-right: 12 * $rem;
	}
}
@media(max-width: 767px) {
	.header {
		height: 81 * $rem;
	}
	.header-logo {
		margin: 20 * $rem 0 0 20 * $rem;
		width: 180 * $rem;
	}
	.header-btn {
		position: absolute;
		top: 5 * $rem;
		right: 0;
		padding: 20 * $rem;
		width: 67 * $rem;
		> div {
			background: #000;
			height: 2 * $rem;
			margin: 6 * $rem 0;
			position: relative;
			transition: 0.2s all;
		}
	}
	.header-menu-content {
		display: none;
		position: fixed;
		top: 81 * $rem;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		background: #f7f3f1;
	}

	.header-nav li {
		float: none;
		margin: 0 0 20 * $rem;
		text-align: center;
	}
	.header-nav {
		float: none;
		margin: 40 * $rem 0;
	}
	.header-buttons {
		float: none;
		margin: 40 * $rem 0;
		text-align: center;
	}
	.header-buttons .btn {
		float: none;
		margin: 0 4 * $rem;
	}
	.active-menu {
		.header-btn {
			> div {
				&:nth-child(1) {
					transform: rotate(45deg);
					top: 8 * $rem;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
					top: -8 * $rem;
				}
			}
		}
		.header-menu-content {
			display: block;
		}
	}
}