$arrow-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 512.01 453.11'><g id='Слой_2' data-name='Слой 2'><g id='Capa_1' data-name='Capa 1'><path d='M508.89,219,306.22,16.35a55.92,55.92,0,0,0-79.08,79.09l77.78,77.78H53.33a53.33,53.33,0,0,0,0,106.66H304.92l-77.78,77.78a55.93,55.93,0,0,0,79.1,79.09L508.91,234.08A10.68,10.68,0,0,0,508.89,219Z'/></g></g></svg>") !default;
img {
	display: block;
	height: auto;
	max-width: 100%;
}
.btn-login {
	svg {
		display: inline-block;
		vertical-align: middle;
		margin: -3 * $rem 5 * $rem 0 -7 * $rem;
		transition: 0.15s;
		width: 20 * $rem;
	}
	&:hover, &:active {
		svg {
			fill: #fff;
		}
	}
}
.btn-arrow {
	&:after {
		content: "";
		width: 14 * $rem;
		height: 14 * $rem;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
		display: inline-block;
		vertical-align: middle;
		margin: 0 -4 * $rem 0 9 * $rem;
		background-image: escape-svg($arrow-icon);
	}
}
.btn-lg.btn-arrow {
	&:after {
		margin: 0 * $rem 0 * $rem 0 * $rem 17 * $rem;
		width: 16 * $rem;
		height: 16 * $rem;
	}
}
.hero {
	margin-top: 106 * $rem;
	position: relative;
	padding: 126 * $rem 0;
	a:not(.btn) {
		color: #7a9ea5;
		font-weight: 500;
		text-decoration: none;
		&:hover {
			color: $primary;
		}
	}
	&-title {
		font-size: 40 * $rem;
		line-height: 52 * $rem;
		font-weight: 500;
		color: #8a8781;
		margin: 0 0 22 * $rem;
		&-bg {
			font-size: 40 * $rem;
			line-height: 52 * $rem;
			font-weight: 600;
			margin: 0 0 52 * $rem;
			background: #edcfac;
			display: block;
			padding: 15 * $rem 26 * $rem;
			color: #53514d;
		}
	}
	&-button {
		margin-top: 42 * $rem;
	}
	p {
		font-size: 20 * $rem;
		line-height: 36 * $rem;
		font-weight: 400;
		color: #53514d;
		margin-right: -50 * $rem;
		margin-bottom: 25 * $rem;
	}
}
.hero-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
	img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
}
.section {
	padding: 110 * $rem 0;
	background: #fff;
	position: relative;
	overflow: hidden;
	h2 {
		font-size: 40 * $rem;
		font-weight: 500;
		line-height: 1.35;
		margin-bottom: 30 * $rem;
	}
	.title-style {
		text-align: center;
		margin-bottom: 70 * $rem;
	}
	p {
		margin-bottom: 20 * $rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.list-style {
	list-style: none;
	padding: 0;
	margin-bottom: 30 * $rem;
	li {
		position: relative;
		margin-bottom: 17 * $rem;
		padding-top: 13 * $rem;
		padding-left: 78 * $rem;
		position: relative;
		&:after {
			content: " ";
			display: block;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-image: url(../images/svg/ok.svg);
			background-size: 100% auto;
			position: absolute;
			top: 14 * $rem;
			left: 0;
			width: 55 * $rem;
			height: 60 * $rem;
		}
	}
	h6 {
		font-size: 24 * $rem;
		line-height: 30 * $rem;
		font-weight: 600;
	}
}
.list-style2 {
	li {
		padding-left: 61 * $rem;
		&:after {
			width: 37 * $rem;
			top: 9 * $rem;
			left: 5 * $rem;
		}
	}
}
.container {
	max-width: 1365 * $rem;
	margin: auto;
	padding: 0 20 * $rem;
	position: relative;
	z-index: 2;
}
.section-gray {
	background: #f2ede6;
	color: #77726c;
	h2 {
		color: #77726c;
	}
}
.section-white {
	color: #fff;
	h2 {
		color: #fff;
	}
	.list-style2 {
		li {
			&:after {
				background-image: url(../images/svg/ok-white.svg);
			}
		}
	}
}
@media(min-width: 768px) {
	.block-content {
		padding-right: 78 * $rem;
	}
	.section-space2 {
		.block-content {
			padding: 118 * $rem 62 * $rem 10 * $rem 15 * $rem;
		}
	}
	.section-space3 {
		.block-content {
			padding-top: 32 * $rem;
			padding-bottom: 15 * $rem;
			padding-left: 0;
		}
	}
	.section-space4 {
		.block-content {
			padding-top: 20 * $rem;
			padding-bottom: 56 * $rem;
		}
		h2 {
			margin-bottom: 40 * $rem;
		}
		p {
			margin-bottom: 30 * $rem;
		}
	}
	.section-space5 {
		.block-content {
			padding: 0 15 * $rem 0 * $rem 54 * $rem;
		}
	}
}
.section-list {
	padding: 100 * $rem 0;
}
@media(min-width: 1400px) {
	.row2 {
		margin-left: -36 * $rem;
		margin-right: -36 * $rem;
		> * {
			padding-left: 36 * $rem;
			padding-right: 36 * $rem;
		}
	}
}
.small-text {
	font-size: 14 * $rem;
	color: #53504c;
	font-weight: 500;
	text-align: center;
	margin-top: 50 * $rem;
}
.img-section {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: 1;

	@media(min-width: 768px) {
		height: 100%;
	}
	img {
		width: 100%;
		display: block;
		@media(min-width: 768px) {
			height: 100%;
			object-fit: cover;
		}
	}
}
@media(min-width: 768px) {
	.img-right {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 362 * $rem;
		display: block;
		z-index: 1;
		img {
			height: auto;
			display: block;
			margin: auto;
			width: 100%;
		}
	}
}
.card {
	&-step {
		height: 37 * $rem;
		width: 37 * $rem;
		border-radius: 100%;
		display: block;
		background: #a7a39d;
		border: 3 * $rem solid #fff;
		margin: 0 auto 20 * $rem;
		font-weight: 600;
		color: #fff;
		text-align: center;
	}
	&-img {
		display: block;
		margin: 0 auto 27 * $rem;
	}
	&-body {
		font-size: 16 * $rem;
		line-height: 24 * $rem;
		color: #7e776e;
		h6 {
			font-size: 18 * $rem;
			color: #615f5b;
			font-weight: 500;
			text-align: center;
			margin-bottom: 15 * $rem;
		}
	}
}
.testimonial{
	text-align: center;
	margin: 0 0 20 * $rem;
	&-img {
		display: block;
		margin: 0 auto 18 * $rem;
	}
	&-body {
		font-size: 14 * $rem;
		line-height: 24 * $rem;
		color: #53504c;
		h6 {
			font-size: 18 * $rem;
			font-weight: 600;
			color: #53504c;
		}
		p {
			margin-bottom: 28 * $rem;
		}
	}
}
.rating {
	padding: 0;
	text-align: center;
	margin-bottom: 22 * $rem;
	font-size: 0;
	li {
		display: inline-block;
		vertical-align: top;
		background-image: url(../images/svg/star.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height: 12 * $rem;
		width: 16 * $rem;
		&.active {
			background-image: url(../images/svg/star-active.svg);
		}
	}
}
.section-testimonials {
	padding-top: 80 * $rem;
	padding-bottom: 140 * $rem;
	.title-style {
		margin-bottom: 50 * $rem;
	}
}
.button-wrap {
	text-align: center;
	margin-top: 20 * $rem;
}
@media(max-width: 1000px) and (min-width: 768px) {
	.hero {
		margin-top: 72 * $rem;
	}
}

@media(max-width: 1000px) and (min-width: 768px) {
	.section h2 {
		font-size: 30 * $rem;
	}
	body {
		font-size: 0.8rem;
	}
	.section {
		padding: 60 * $rem 0;
	}
	.card-body {
		font-size: 14 * $rem;
	}
}
@media(max-width: 767px) {
	.hero {
		margin-top: 81 * $rem;
		padding: 50 * $rem 0 68 * $rem;
		.btn {
			width: 100%;
		}
	}
	.hero-title {
		line-height: 1.2;
		margin-bottom: 28 * $rem;
	}

	.hero-title-bg {
		padding: 16 * $rem 26 * $rem;
		line-height: 1.2;
	}
	.hero p {
		margin-right: 0;
	}
	.section .title-style {
		margin-bottom: 36 * $rem;
	}
	.card {
		margin-bottom: 65 * $rem;
	}
	.testimonial {
		margin-bottom: 52 * $rem;
	}
	.section-testimonials {
		background: #fff;
		padding-bottom: 65%;
	}
	.section-space2 {
		background: #f1f8f9;
		padding-bottom: 97%;
	}
	.section-space3 {
		background: #a0b3c5;
		padding-bottom: 97%;
	}
	.section-space4 {
		background: #a6a39d;
		padding-bottom: 85%;
	}
	.section-space5 {
		background: #82d4ea;
		padding-bottom: 108%;
	}
	.img-right {
		display: block;
		margin: 40 * $rem auto 0;
		max-width: 294 * $rem;
		width: 67%;
	}
}

