html {
	font-size: 16px;
}
body {
	color: $primary;
}
img {
	max-width: 100%;
}
a {
	color: inherit;
	&:hover, &:focus {
		color: inherit;
	}
}
p {
	max-width: 550px;
}
.main-width {
	max-width: 1300px;
	padding: 0 50px;
	margin: auto;
}
.main-width2 {
	max-width: 1300px;
	padding: 0 150px;
	margin: auto;
}
.row2 {
	margin-left: -50px;
	margin-right: -50px;
	> * {
		padding-left: 50px;
		padding-right: 50px;
	}
}
.section-hero {
	background: #103E52;
	margin-bottom: 130px;
	color: #fafafa;
	padding: 200px 0 185px;
	.h1 {
		color: #fafafa;
		i {
			font-weight: 300;
			line-height: 140%;
			letter-spacing: 0.01em;
		}
	}
	h6 {
		margin-bottom: 30px;
		color: #fff;
		font-weight: 400;
	}
}
.section-hero-content {
	padding-left: 100px;
}
.section-style {
	padding: 200px 0;
}
.section-style-sm {
	padding: 120px 0;
}
.section-style2 {
	background: #F4F4F4;
}
.one-project {
	margin-bottom: 120px;
	&:last-child {
		margin-bottom: 0;
	}
}
.hero-img {
	margin: 10px 0 -320px 125px;
}
.more {
	font-size: 16px;
	margin: 53px 0 0;
	a {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		letter-spacing: 0.03em;
		padding: 19px 46px 19px 0;
		color: #181818;
		text-decoration: none;
	}
	.icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		line-height: 61px;
		padding-left: 25px;
		font-size: 9px;
		height: 60px;
		color: #848484;
		border: 1px solid #181818;
		border-radius: 100%;
		display: block;
	}
}

.one-project-img {
	margin-right: -66px;
	img {
		width: 100%;
	}
}
.one-project-content {
	margin-left: -65px;
}
.one-project-text {
	margin: 20px 100px 0 200px;
}

.one-project {
	&:nth-child(2n) {
		.one-project-img {
			margin-left: -66px;
			margin-right: 0;
		}
		> .row {
			> *:nth-child(2) {
				order: -1;
			}
		}
		.one-project-content {
			margin-left: 0;
		}
		.one-project-text {
			margin-left: 100px;
			margin-right: 150px;
		}
	}
}

.block-text-bg-wrap {
	position: relative;
	padding: 105px 0;
	margin-bottom: 200px;
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		right: 50%;
		bottom: 0;
		background: #fff;
		margin-right: -150px;
		z-index: 1;
	}
	> * {
		position: relative;
		z-index: 2;
	}
}
.how-it-work {
	padding: 100px;
	margin: 0 100px 200px;
	background: #fff;
}
.list-style {
	font-size: 26px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #848484;
	list-style: none;
	padding: 0;
	margin: 66px 0;
	li {
		margin-bottom: 21px;
	}
}
.how-it-work {
	p {
		max-width: 406px;
	}
}
.how-it-work-img {
	margin-right: -200px;
	margin-left: 65px;
	img {
		width: 100%;
	}
}
.skills-block {
	background: #fff;
	padding: 75px 100px 57px;
	color: #181818;
	margin-bottom: 200px;
	.row {
		margin-left: -50px;
		margin-right: -50px;
		> * {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 53px;
		padding-bottom: 44px;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	h6 {
		font-weight: 500;
		font-size: 26px;
		line-height: 130%;
	}
}
.content-img {
	position: relative;
	margin-bottom: -525px;
	img {
		width: 100%;
	}
}
.content-img-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 27px 127px;
	h2 {
		color: #FAFAFA;
		span {
			@media screen and (-webkit-min-device-pixel-ratio:0) {
				color: transparent;
				-webkit-text-stroke: 1px #fff;
				text-stroke: 1px #fff;
				margin-right: 15px;
			}
		}
	}
}
.margin-style {
	margin-bottom: 120px;
}

.project-hero {
	background: #FAFAFA;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: center;
	> .main-width {
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 0.01em;
		font-size: 16px;
		text-align: left;
		width: 100%;
	}
	&:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100vh;
	}
	.one-project-content {
		margin-left: 80px;
	}
	.one-project-text {
		margin: 40px 50px 0 70px;
	}
}
.project-hero-img {
	top: 0;
	left: 0;
	right: 50%;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	position: absolute;
	z-index: 2;
}